.entry-meta {
	background: $surface-secondary;
	color: $text-secondary;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2rem;
	padding: 1rem;

	> * {
		align-items: center;
		display: inline-flex;
		flex-wrap: wrap;

		&:not(:first-child) {
			&:before {
				color: inherit;
				content: "\02022";
				padding: 0 0.75em;
			}
		}
	}

	.cat-links {
		a {
			display: inline-block;

			&:not(:first-child) {
				margin-left: 0.4em;
			}
		}
	}

	a {
		color: $text-secondary;

		&:hover {
			text-decoration: none;
		}
	}

	.label {
		color: $text-secondary;
		margin-bottom: .5rem;

		&:before {
			color: $text-tertiary;
			padding-right: 5px;
		}
	}

	.published:not(.updated) {
		display: none;
	}
}

.byline {
	display: inline-flex;
	align-items: center;

	.author-avatar {
		flex-shrink: 0;
		margin-right: 0.5rem;

		&.is-32x32 {
			height: 32px;
			width: 32px;
		}

		&.is-rounded > * {
			border-radius: 10000px;
		}
	}

	.author {
	}
}

.tags-links {
	display: block;
	list-style-type: none;
	margin: -4px;
	width: 100%;

	li {
		display: inline-block;
		padding: 4px;
	}

	a {
		background: $surface-secondary;
		border-radius: 4px;
		color: $text-secondary;
		display: block;
		padding: 5px 10px;

		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}
}
