a {
    color: $primary;
    text-decoration: none;

    &:hover,
    &:focus,
    &:visited,
    &:active {
        color: $primary;
        //text-decoration: underline;
    }
    &:focus {
        outline: 0;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}