a {
	background-color: transparent;
	color: $link;
	text-decoration: none;
	transition: color 110ms ease-in-out;

	&:visited {
		color: $link-visited;
		outline: thin dotted;
	}

	&:hover,
	&:active {
		color: $link-hover;
		outline: 0;
	}

	&:focus {
		outline: thin dotted;
		text-decoration: underline;
	}
}
