.navigation {
	font-size: 1rem;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: 100%;
	}

	&.pagination,
	&.comments-pagination {
		.nav-links {
			width: auto;
		}
	}

	.page-numbers {
		align-items: center;
		border-radius: 3px;
		display: inline-flex;
		padding: calc(0.375em - 1px) 0.5em;
		justify-content: center;
		margin: 0.25rem;
		text-align: center;
		height: 2.25em;
		min-width: 2.25em;
		border: 1px solid #dbdbdb;
		color: #3273dc;

		&.dots {
			pointer-events: none;
			border-color: transparent;
			color: #b5b5b5;
		}

		&:active,
		&:focus {
			outline: none;
		}

		&:hover {
			border-color: #b5b5b5;
			color: #363636;
		}
		&:focus {
			border-color: #3273dc;
		}
		&:active {
			box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
		}

		&.current {
			background-color: #3273dc;
			border-color: #3273dc;
			color: #fff;
		}
	}

	// Post navigation
	&.post-navigation {
		padding: 1rem 0;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #dddddd;

		.nav-links {
			display: flex;
			justify-content: space-between;
			align-content: center;
			width: 100%;
		}

		.nav-previous,
		.nav-next {
			width: 50%;
			display: flex;
			align-items: center;

			&:before,
			&:after {
				@include fa-icon();
				font-size: 2rem;
				color: #dddddd;
			}

			a {
				display: flex;
				width: 100%;
				flex-direction: column;
				color: #444444;
				overflow: hidden;
			}
		}

		.nav-previous {
			border-right: 1px solid #dddddd;
			padding-right: 1rem;

			&:before {
				content: "\f104";
				margin-right: 1rem;
			}

			a {
				text-align: left;
				align-items: flex-start;
			}
		}
		.nav-next {
			padding-left: 1rem;

			&:after {
				content: '\f105';
				margin-left: 1rem;
			}
			a {
				text-align: right;
				align-items: flex-end;
			}
		}

		.meta-nav {
			text-transform: uppercase;
			color: #7a7a7a;
		}
		.post-title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
	}
}