# Folders
.git/
.idea/
.sass-cache/
node_modules/

# Files
assets/css/admin.css.map
assets/css/editor-style.css.map
assets/css/style.css
assets/css/style.css.map
assets/css/woocommerce.css.map
assets/css/carousel-slider.css.map
style.css.map
