# Folders
.git/
.idea/
.sass-cache/
node_modules/

# Files
admin.css
admin.css.map
carousel-slider.css
carousel-slider.css.map
customizer.css
customizer.css.map
editor-style.css
editor-style.css.map
woocommerce.css
woocommerce.css.map
assets/css/admin.css.map
assets/css/editor-style.css.map
assets/css/style.css
assets/css/style.css.map
assets/css/woocommerce.css.map
assets/css/carousel-slider.css.map
assets/css/customizer.css.map
style.css.map
install_nvm.sh
package-lock.json
