// == Colors
// Start with assigning color names to specific hex values.
$black: #000000 !default;
$black-bis: #121212 !default;
$black-ter: #242424 !default;

$grey-darker: #424242 !default;
$grey-dark: #616161 !default;
$grey: #757575 !default;
$grey-light: #bdbdbd !default;
$grey-lighter: #e0e0e0 !default;

$white-ter: #f5f5f5 !default;
$white-bis: #fafafa !default;
$white: #ffffff !default;

$red: #f44336 !default;
$green: #4caf50 !default;
$blue: #2196f3 !default;
$orange: #ff9800 !default;
$yellow: #ffeb3b !default;
$white: #ffffff !default;
$black: #000000 !default;
$teal: #009688 !default;
$pink: #e91e63 !default;
$purple: #9c27b0 !default;
