// == Colors
// Start with assigning color names to specific hex values.
$black: #000000 !default;
$black-bis: #121212 !default;
$black-ter: #242424 !default;

$grey-darker: #424242 !default;
$grey-dark: #616161 !default;
$grey: #757575 !default;
$grey-light: #bdbdbd !default;
$grey-lighter: #e0e0e0 !default;

$white-ter: #f5f5f5 !default;
$white-bis: #fafafa !default;
$white: #ffffff !default;

$red: #f44336 !default;
$green: #4caf50 !default;
$blue: #2196f3 !default;
$orange: #ff9800 !default;
$yellow: #ffeb3b !default;
$white: #ffffff !default;
$black: #000000 !default;
$teal: #009688 !default;
$pink: #e91e63 !default;
$purple: #9c27b0 !default;

// Reassign color vars to semantic color scheme
$primary: $blue !default;
$secondary: $teal !default;
$light: $white-ter !default;
$dark: $grey-darker !default;

// == Backgrounds colors
$background-body: $white !default;
$background-input: $white !default;
$background-screen: $white-ter !default;
$background-code: $background-body !default;
$background-pre: $background-body !default;
$background-ins: $background-body !default;
$background-hr: $grey-lighter !default;
$border-hover: $grey-light !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

$size-small: 0.75rem !default;
$size-normal: 1rem !default;
$size-medium: 1.25rem !default;
$size-large: 1.5rem !default;
$size-base: 1.25rem !default;

$line-height-body: 1.8 !default;
$line-height-pre: 1.6 !default;
$line-height-heading: 1.2 !default;

//== Columns
$column-gap: 2rem !default;

//== Grid containers
$container-small-tablet: 540px !default;
$container-tablet: 720px !default;
$container-desktop: 960px !default;
$container-widescreen: 1140px !default;
$container-fullhd: 1344px !default;
