@import "variables";

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin loader() {
  color: transparent !important;
  pointer-events: none;

  &:after {
    left: calc(50% - (1em * .5));
    top: calc(50% - (1em * .5));
    height: 1em;
    width: 1em;
    position: absolute !important;
    animation: shaplaButtonSpinAround .5s infinite linear;
    border: 2px solid var(--shapla-button-on-color);
    border-radius: 9999px;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    content: "";
    display: block;
  }
}

@mixin media( $res ) {
  @if mobile == $res or xs == $res {
    @media screen and (max-width: ($screen-sm - 1px)) {
      @content;
    }
  }
  @if tablet-small == $res or sm == $res {
    @media screen and (min-width: $screen-sm) {
      @content;
    }
  }
  @if tablet == $res or md == $res {
    @media screen and (min-width: $screen-md) {
      @content;
    }
  }
  @if desktop == $res or lg == $res {
    @media screen and (min-width: $screen-lg) {
      @content;
    }
  }

  @if wide == $res or xl == $res {
    @media screen and (min-width: $screen-xl) {
      @content;
    }
  }

  @if fullhd == $res or xxl == $res {
    @media screen and (min-width: $screen-xl) {
      @content;
    }
  }
}

@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--container-padding-x, 1rem);
  padding-right: var(--container-padding-x, 1rem);
  width: 100%;

  @include media(tablet-small) {
    max-width: $container-sm;
  }

  @include media(tablet) {
    max-width: $container-md;
  }

  @include media(desktop) {
    max-width: $container-lg;
  }

  @include media(wide) {
    max-width: $container-xl;
  }
}
