.shapla-metabox-table {
	border-collapse: collapse;
	width: 100%;

	tr {
		border-top: 1px solid #ececec;

		&:first-child {
			border-top: none;
		}
	}

	th {
		text-align: left;
		width: 40%;
		padding: 10px 0;
		vertical-align: top;

		label {
			text-shadow: white 0 1px 0;

			strong {
				font-weight: 500;
				color: #444;
			}

			span {
				display: block;
				font-size: 12px;
				font-weight: normal;
				color: #999;
				margin: 8px 0 0 0;
			}
		}
	}

	th, td {
		padding: 8px 10px;
	}

	// Select2
	.select2-container .select2-selection,
	.select2-container .select2-choice,
	.select2-container .select2-selection {
		padding-left: 0.75em;
		line-height: 32px;
		box-sizing: border-box !important;
		background-image: none !important;
		height: 34px;
		border-radius: 0 !important;
		background-color: #f4f2f2;
		border-color: rgba(0, 0, 0, 0.05) !important;
		box-shadow: none !important;
	}

	.select2-container .select2-selection > .select2-selection__rendered {
		height: 32px;
		line-height: 32px;
		margin-right: 35px;
		background-color: #f4f2f2 !important;
	}

	.select2-container .select2-choice .select2-arrow,
	.select2-container .select2-selection .select2-selection__arrow {
		width: 31px !important;
		height: 32px !important;
		background-image: none !important;
		background: #f4f2f2 !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		transition: all 200ms ease-in-out;
		border-left: 1px solid rgba(0, 0, 0, 0.05) !important;

		b {
			border: none;
			position: relative;
			margin: 0;
			top: auto;
			left: auto;
			display: block;
			width: 100%;
			text-align: center;
			background: none !important;

			&:after {
				content: "\f347" !important;
				font-family: dashicons !important;
				font-size: 12px !important;
				color: #777 !important;
				border: none !important;
				margin: 0 !important;
			}
		}
	}
}

#side-sortables {
	.shapla-metabox-table {
		th, td {
			width: 100%;
			display: block;
			padding-left: 0;
			padding-right: 0;
		}
		td {
			border-bottom: none;
		}
	}
}

// Buttonset
.buttonset {
	display: flex;
	flex-wrap: wrap;

	.switch-label {
		background: rgba(0, 0, 0, .05);
		border-right: 1px solid rgba(0, 0, 0, .2);
		color: #555;
		margin: 0;
		padding: 0.5em 1em;
		font-size: 14px;
		flex-grow: 0;
		text-align: center;

		&:last-child {
			border-right: none;
		}
	}
	.switch-input {
		display: none;
		&:checked {
			+ .switch-label {
				background-color: #3498DB;
				color: #fff;
			}
		}
	}
}

// dimensions
.shapla-dimension {
	margin-right: 10px;
	font-size: 0;
	white-space: nowrap;
	display: inline-block;
	margin-bottom: 6px;
	overflow: hidden;

	.add-on {
		border: 1px solid rgba(0, 0, 0, 0.1) !important;
		border-right: none !important;
		height: 34px;
		width: 34px;
		font-size: 12px;
		background-color: #fff;
		box-sizing: border-box;
		color: rgba(0, 0, 0, 0.5);
		padding: 0;
		font-weight: 400;
		line-height: 32px;
		text-align: center;
		text-shadow: 0 1px 0 #ffffff;
		display: block;
		float: left;
		min-width: 16px;

		i {
			font-size: 13px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			height: 32px;
			line-height: 32px;
		}
	}

	input[type="text"] {
		box-sizing: border-box;
		margin: 0;
		border: 1px solid rgba(0, 0, 0, 0.05) !important;
		color: #333333;
		font-size: 13px;
		height: 34px;
		line-height: 32px;
		box-shadow: none !important;
		background: rgba(0, 0, 0, 0.05) !important;
		width: 68px;
		padding: 0 0.75em;
		float: left;
		text-align: center;
	}
}

// Tabs
.shapla-tabs-wrapper {
	display: block;
	overflow: hidden;
	background: #fff;
	margin: -6px -12px -12px;
	padding: 0;
}

.ui-tabs.shapla-tabs {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	background: none;
	font-size: 1em;
	@include clearfix;

	ul.shapla-tabs-list {
		margin: 0;
		width: 20%;
		float: left;
		line-height: 1em;
		padding: 0 0 10px;
		position: relative;
		box-sizing: border-box;
		border: none;
		border-right: 1px solid #eee;
		border-radius: 0;
		background: #fafafa;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 9999em;
			position: absolute;
			bottom: -9999em;
			left: 0;
			background-color: #fafafa;
			border-right: 1px solid #eee;
		}

		li {
			margin: 0;
			padding: 0;
			display: block;
			position: relative;
			width: 100%;
			background: none;
			border-radius: 0;
			border: none;

			a {
				margin: 0;
				padding: 10px !important;
				display: block;
				box-shadow: none;
				text-decoration: none;
				line-height: 20px !important;
				border-bottom: 1px solid #eee;
				width: 100%;
				box-sizing: border-box;

				span {
					margin-left: 0.618em;
					margin-right: 0.618em;
				}

				&::before {
					font-family: 'Dashicons';
					speak: none;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					content: '\f107';
					text-decoration: none;
				}
			}

			&.ui-tabs-active {
				border-radius: 0;
				border: none;
				margin: 0;
				padding: 0;

				a {
					color: #555;
					position: relative;
					background-color: #eee;
				}
			}

			&.sliders_panel,
			&.page_panel,
			&.header_panel,
			&.footer_panel,
			&.sidebar_panel,
			&.background_panel,
			&.import_export_panel,
			&.page_title_bar_panel {
				a::before {
					content: ' ';
					display: inline-block;
					height: 1em;
					width: 1em;
					vertical-align: middle;
				}
			}

			&.sliders_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M4 8v20h28v-20h-28zM30 24.667l-4-6.667-4.533 3.778-3.467-5.778-12 10v-16h24v14.667zM8 15c0-1.657 1.343-3 3-3s3 1.343 3 3c0 1.657-1.343 3-3 3s-3-1.343-3-3zM28 4h-28v20h2v-18h26z"></path></svg>');
			}

			&.page_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M28.232 6.232l-4.465-4.464c-0.972-0.972-2.893-1.768-4.268-1.768h-15c-1.375 0-2.5 1.125-2.5 2.5v27c0 1.375 1.125 2.5 2.5 2.5h23c1.375 0 2.5-1.125 2.5-2.5v-19c0-1.375-0.796-3.296-1.768-4.268zM26.818 7.646c0.098 0.098 0.195 0.218 0.29 0.354h-5.108v-5.108c0.136 0.095 0.256 0.192 0.354 0.29l4.465 4.464zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5h15c0.151 0 0.32 0.019 0.5 0.053v7.947h7.947c0.034 0.18 0.053 0.349 0.053 0.5v19z"></path></svg>');
			}

			&.header_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M3 4v25h25v-25h-25zM27 28h-23v-17h23v17zM27 10h-23v-5h23v5z"></path></svg>');
			}

			&.footer_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M3 28v-25h25v25h-25zM27 4h-23v17h23v-17zM27 22h-23v5h23v-5z"></path></svg>');
			}

			&.sidebar_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M3 4v25h25v-25h-25zM19 28h-15v-23h15v23zM27 28h-7v-23h7v23z"></path></svg>');
			}

			&.background_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M0 4v26h32v-26h-32zM30 28h-28v-22h28v22zM22 11c0-1.657 1.343-3 3-3s3 1.343 3 3c0 1.657-1.343 3-3 3s-3-1.343-3-3zM28 26h-24l6-16 8 10 4-3z"></path></svg>');
			}

			&.import_export_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M27.313 4.687c-2.895-2.896-6.895-4.687-11.313-4.687-6.859 0-12.709 4.316-14.984 10.381l3.746 1.405c1.706-4.548 6.094-7.786 11.238-7.786 3.314 0 6.313 1.344 8.485 3.515l-4.485 4.485h12v-12l-4.687 4.687zM16 28c-3.314 0-6.313-1.343-8.485-3.515l4.485-4.485h-12v12l4.687-4.687c2.895 2.896 6.894 4.687 11.313 4.687 6.859 0 12.709-4.316 14.984-10.381l-3.746-1.405c-1.706 4.548-6.094 7.786-11.238 7.786z"></path></svg>');
			}

			&.page_title_bar_panel a::before {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30.64 1.36v29.281h-29.281v-29.281h29.281zM31.974 0.026h-31.948v31.948h31.948v-31.948zM0.326 7.289h31.23v6.267h-31.23v-6.267z"></path></svg>');
			}

			&.active a {
				color: #555;
				position: relative;
				background-color: #eee;
			}
		}
	}

	.shapla_options_panel {
		float: left;
		width: 80%;
		min-height: 175px;
		box-sizing: border-box;
		padding: 0;
		color: #555;
	}

	@media only screen and (max-width: 900px) {
		ul.shapla-tabs-list {
			width: 10%;

			li {
				a {
					position: relative;
					text-indent: -999px;
					padding: 10px;

					&::before {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						text-indent: 0;
						text-align: center;
						line-height: 40px;
						width: 100%;
						height: 40px;
					}
				}

				&.sliders_panel,
				&.page_panel,
				&.header_panel,
				&.footer_panel,
				&.sidebar_panel,
				&.background_panel,
				&.import_export_panel,
				&.page_title_bar_panel {
					a::before {
						margin: auto;
						display: block;
					}
				}
			}
		}
	}
}
