.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

    &.disabled {
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.alt {
        background-color: $primary;
        color: $primarytext;

        &:hover {
            background-color: $primary - #111;
            color: $primarytext;
        }
    }

    &.loading {
        cursor: not-allowed;
        opacity: 0.5;

        &::after {
            @include fa-icon();
            content: "\f110";
            margin-left: 0.75em;
            vertical-align: bottom;
            animation: fa-spin .75s linear infinite;
        }
    }

    &.added {
        &::after {
            @include fa-icon();
            content: '\f00c';
            margin-left: 0.75em;
            vertical-align: bottom;
        }
    }
}

.wc-forward {
    &::after {
        @include fa-icon();
        content: '\f178';
        margin-left: 0.75em;
        vertical-align: middle;
    }
}

a.added_to_cart {
    white-space: nowrap;
    display: inline-block;
}
