.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

    &.disabled {
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.loading {
        color: transparent !important;
        pointer-events: none;

        &::after {
            animation: fa-spin .500s linear infinite;
            border: 2px solid #dbdbdb;
            border-radius: 100px;
            border-right-color: transparent;
            border-top-color: transparent;
            content: "";
            display: block;
            height: 1em;
            width: 1em;
            left: calc(50% - (1em / 2));
            top: calc(50% - (1em / 2));
            position: absolute !important;
        }
    }
}

.wc-forward {
    &::after {
        @include fa-icon();
        content: '\f178';
        margin-left: 0.75em;
        vertical-align: middle;
    }
}

a.added_to_cart {
    white-space: nowrap;
    display: inline-block;
}
