.woocommerce,
.woocommerce-page {
    // Cart page
    table.cart {
        img {
            height: auto;
        }

        input.qty {
            max-width: 80px;
        }

        td.actions {
            text-align: right;

            .input-text {
                width: 115px;
            }

            .coupon {
                float: left;

                label {
                    display: none;
                }
            }
        }
    }

    .cart-collaterals {
        @include clearfix();
        width: 100%;

        .cross-sells {
            width: calc(50% - 2rem);
            margin-right: 2rem;
            float: left;

            ul.products {
                li {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }

        .cart_totals {
            width: 50%;
            float: right;
        }

        .shipping_calculator {
            @include clearfix();
            width: 48%;

            .col2-set {
                .col-1,
                .col-2 {
                    width: 47%;
                }
            }
        }
    }
}

@media only screen and (max-width: $screen-md) {
    .woocommerce,
    .woocommerce-page {

        table.cart {
            .product-thumbnail {
                &:before {
                    display: none;
                }
            }

            td.actions {
                text-align: left;

                .coupon {
                    @include clearfix();
                    float: none;
                    padding-bottom: 1em;
                    width: 100%;

                    input,
                    .button,
                    .input-text {
                        width: 48%;
                        box-sizing: border-box;
                    }

                    .input-text + .button,
                    .button.alt {
                        float: right;
                    }
                }

                .button {
                    display: block;
                    width: 100%;
                }
            }
        }

        .cart-collaterals {
            .cart_totals,
            .shipping_calculator,
            .cross-sells {
                width: 100%;
                float: none;
                text-align: left;
            }
        }
    }
}