.woocommerce,
.woocommerce-page {
    form {
        .form-row {
            @include clearfix();
            // padding: 3px;
            margin: 0 0 1em;

            [placeholder]:focus::-webkit-input-placeholder {
                -webkit-transition: opacity 0.5s 0.5s ease;
                -moz-transition: opacity 0.5s 0.5s ease;
                transition: opacity 0.5s 0.5s ease;
                opacity: 0;
            }

            label {
                line-height: 2;
                display: block;

                &.checkbox,
                &.inline {
                    display: inline;
                }

                &.hidden {
                    visibility: hidden;
                }
            }

            .required {
                color: $alert-danger;
                font-weight: 700;
                border: 0;
            }

            .input-checkbox {
                display: inline;
                margin: -2px 8px 0 0;
                text-align: center;
                vertical-align: middle;
            }

            textarea {
                height: 4em;
                line-height: 1.5;
                display: block;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .select2-container {
                width: 100%;
                line-height: 2em;
            }

            .select2-container--default .select2-selection--single {
                border: 1px solid #dbdbdb;
                color: #363636;
                box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
                border-radius: 3px;
                padding: 0.4em;
                height: auto;
                min-height: 2.75em;

                .select2-selection__arrow {
                    height: 1em;
                    position: absolute;
                    top: 1em;
                    right: 0.5em;
                    width: 1em;

                }
            }

            &.woocommerce-invalid {
                label {
                    color: $alert-danger;
                }
                .select2-container,
                input.input-text,
                select {
                    border-color: $alert-danger;
                }
            }

            &.woocommerce-validated {
                .select2-container,
                input.input-text,
                select {
                    border-color: $alert-success - #111;
                }
            }
        }

        .form-row-first,
        .form-row-last {
            width: 48%;
            overflow: visible;
        }

        .form-row-first {
            float: left;
        }

        .form-row-last {
            float: right;
        }

        .form-row-wide {
            clear: both;
        }
    }

    form.login,
    form.checkout_coupon,
    form.register {
        padding: 1em 0;
        margin: 1em 0;
        text-align: left;
        border-radius: 5px;
    }

    ul#shipping_method {
        list-style: none outside;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0.25em 0 0.25em 22px;
            text-indent: -22px;
            list-style: none outside;
            input {
                margin: 3px 0.5ex;
            }
            label {
                display: inline;
            }
        }

        .amount {
            font-weight: 700;
        }
    }

    p.woocommerce-shipping-contents {
        margin: 0;
    }

    #payment {
        .form-row {
            select {
                width: auto;
            }
        }

        .wc-terms-and-conditions, .terms {
            text-align: left;
            padding: 0 1em 0 0;
            float: left;
        }

        #place_order {
            float: right;
        }
    }

    .woocommerce-billing-fields,
    .woocommerce-shipping-fields {
        @include clearfix();
    }
}