.woocommerce-password-strength {
    text-align: center;
    font-weight: 600;
    padding: 3px 0.5em;
    font-size: 1em;
    color: $white;

    &.strong {
        background-color: $alert-success;
    }

    &.good {
        background-color: $alert-info;
    }

    &.short {
        background-color: $alert-danger;
    }

    &.bad {
        background-color: $alert-danger;
    }
}

.woocommerce-password-hint {
    margin: 0.5em 0 0;
    display: block;
}
