p.demo_store,
.woocommerce-store-notice {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em 2em;
    background-color: $alert-info;
    color: #fff;
    z-index: 999;
    display: none;

    a {
        background-color: rgba(#000, .2);
        color: #ffffff;
        text-decoration: underline;
        float: right;
        display: inline-block;
        padding: 1em;
        margin: -1em -2em;

        &:hover {
            text-decoration: none;
        }

        &:before {
            @include fa-icon();
            content: "\f057";
            margin-right: 0.5em;
        }
    }

    &:before {
        @include fa-icon();
        content: "\f05a";
        margin-right: 0.5em;
    }
}