.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  @include clearfix();
  padding: 1rem;
  margin: 0 0 2rem;
  position: relative;
  list-style: none outside;
  width: auto;
  word-wrap: break-word;
  border-left: .5em solid $border-active-color;
  color: $text-primary;
  background-color: $surface-secondary;

  a:not(.button) {
    color: $primary;
    font-weight: $text-font-weight;
  }

  .button {
    float: right;
    background: none;
    padding: .25rem;
    color: currentColor;
  }
}

.woocommerce-message {
  // background-color: $success;
}

.woocommerce-info {
  // background-color: $primary;
}

.woocommerce-error {
  background-color: $error;
  color: $on-error;
}
