.woocommerce,
.woocommerce-page {
	// Cart page
	table.cart {
		img {
			height: auto;
		}

		input.qty {
			max-width: 80px;
		}

		td.actions {
			text-align: right;

			.input-text {
				width: 115px;
			}

			.coupon {
				float: left;

				label {
					display: none;
				}
			}
		}
	}

	// Small screen
	@media only screen and (max-width: $screen-md) {
		table.cart {
			.product-thumbnail {
				&:before {
					display: none;
				}
			}

			td.actions {
				text-align: left;

				.coupon {
					@include clearfix();
					float: none;
					padding-bottom: 1em;
					width: 100%;

					input,
					.button,
					.input-text {
						width: 48%;
						box-sizing: border-box;
					}

					.input-text + .button,
					.button.alt {
						float: right;
					}
				}

				.button {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

// WooCommerce Cart Collaterals
.woocommerce {

	.cart-collaterals {
		margin-bottom: $column-gap;

		.cart_totals {
			padding: 2rem;
			align-self: flex-start;
			box-sizing: border-box;
			background-color: rgba(#000, .03);
			border-radius: 1px;
			width: 100%;

			h2 {
				font-size: $font-size-large;
			}

			table.shop_table {
				background-color: transparent;
				border: none;

				tr {
					display: block;
					padding: .75rem 0;
					border-top: 1px solid rgba(#333333, 0.12);
				}

				th, td {
					display: block;
					border: none;
					padding: 0;
				}

				th {
					width: 40%;
				}

				td {
					text-align: left;
				}

				tr:first-of-type {
					border: none;
				}
			}

			p {
				margin-bottom: .75rem;
			}
		}

		.button {
			width: 100%;
		}

		a.checkout-button {
			display: block;
			font-size: 1.25em;
			padding: 1em;
		}

		.shipping-calculator-form {
			margin-top: .75rem;
		}

	}

	@media only screen and (min-width: $screen-lg) {

		.woocommerce-cart-form {
			display: block;
			float: left;
			width: calc(100% - 30% - 2rem);
		}

		.cart-collaterals {
			float: left;
			margin-left: 2rem;
			width: 30%;
		}
	}
}
