.header__cart-toggle {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	padding: 0;
	order: 4;

	&,
	&:not(:disabled):hover {
		background: transparent;
		color: var(--header-text-color, #3a3a3a);
	}

	.item-count {
		display: block;
		font-size: 11px;
		letter-spacing: 0;
		line-height: 1;
		position: absolute;
		right: 0.3rem;
		text-align: right;
		top: 0.3rem;
	}
}

.header__wishlist-toggle {
	.wishlist-item-count {
		display: block;
		font-size: 11px;
		letter-spacing: 0;
		line-height: 1;
		position: absolute;
		right: 0.3rem;
		text-align: right;
		top: 0.3rem;
	}
}

.drawer-cart {

	&-content {
		padding: 3rem;
	}

	.shapla-drawer__body {
		width: 100%;

		@include media('tablet') {
			width: 480px;
		}
	}

	&-heading {
		align-items: center;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(#000, .12);
		margin-bottom: 0.5rem;

		h4 {
			margin-bottom: 0;
		}
	}

	// cart
	.widget_shopping_cart {
		margin-bottom: 0;

		.woocommerce-mini-cart {
			max-height: 250px;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}


body {
	&.admin-bar {
		.site-nav-body {
			height: calc(100vh - 32px);
			margin-top: 32px;

			@media only screen and (max-width: 781px) {
				height: calc(100vh - 46px);
				margin-top: 46px;
			}
		}
	}
}
