// My Account
.woocommerce-MyAccount-navigation {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid $border-color;
  }

  &-link {
    list-style: none;
    border-bottom: 1px solid $border-color;
    position: relative;

    &.is-active {
      a:before {
        opacity: 1;
      }
    }

    a {
      color: $text-primary;
      display: block;
      padding: 1rem 0;
    }
  }
}

.woocommerce-account {
  .woocommerce {
    @include clearfix();
  }

  .addresses {
    .title {
      @include clearfix();

      h3 {
        float: left;
        font-size: $size-large;
      }

      .edit {
        float: right;
      }
    }
  }
}

@include media(mobile) {
  .woocommerce,
  .woocommerce-page {
    table.my_account_orders {
      tr {
        td {
          &.order-actions {
            text-align: left;

            &::before {
              display: none;
            }

            .button {
              float: none;
              margin: 0.125em 0.25em 0.125em 0;
            }
          }
        }
      }
    }
  }
}
