#reviews {
	.commentlist {
		@include clearfix();
		margin: 0;
		width: 100%;
		list-style: none;

		li {
			padding: 0;
			margin: 0 0 3.125rem;
			border: 0;
			position: relative;
			background: 0;

			img.avatar {
				float: left;
				position: absolute;
				top: 0;
				left: 0;
				width: 3rem;
				height: auto;
				margin: 0;
				box-shadow: none;
				border-radius: 3px;
			}

			.meta {
				color: $text-secondary;
				font-size: 0.75em;
			}

			.comment-text {
				margin: 0 0 0 5rem;
				background-color: rgba(#000, 0.02);
				border-radius: 3px;
				padding: 1rem;
				@include clearfix();

				.star-rating {
					float: right;
					font-size: .875rem;
					line-height: 1;
					height: 1rem;
				}

				p.meta {
					font-size: 0.875rem;
					margin-bottom: 1rem;

					.woocommerce-review__dash {
						display: none;
					}

					time {
						display: block;
						opacity: .5;
						font-size: .875rem;
					}
				}
			}
		}

		ul.children {
			list-style-type: none;
			margin: 20px 0 0 50px;

			.star-rating {
				display: none;
			}
		}
	}
}

#respond {
	label.comment,
	p.stars {
		display: block;
		margin: 0 0 1rem;
	}
}
