$tabs-border-bottom-color: #dbdbdb !default;
$tabs-border-bottom-style: solid !default;
$tabs-border-bottom-width: 2px !default;
$tabs-link-color: #4A4A4A !default;
$tabs-link-hover-border-bottom-color: #363636 !default;
$tabs-link-hover-color: #363636 !default;
$tabs-link-padding: 0.5em 1em !default;

.woocommerce-tabs {
	padding-top: 30px;
	clear: both;
	width: 100%;

	ul.tabs {
		align-items: center;
		border-bottom-color: $tabs-border-bottom-color;
		border-bottom-style: $tabs-border-bottom-style;
		border-bottom-width: $tabs-border-bottom-width;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0;
		padding: 0;

		a {
			align-items: center;
			border-bottom-color: $tabs-border-bottom-color;
			border-bottom-style: $tabs-border-bottom-style;
			border-bottom-width: $tabs-border-bottom-width;
			color: $tabs-link-color;
			display: flex;
			justify-content: center;
			margin-bottom: -#{$tabs-border-bottom-width};
			padding: $tabs-link-padding;
			text-decoration: none;
			vertical-align: top;

			&:hover {
				border-bottom-color: $tabs-link-hover-border-bottom-color;
				color: $tabs-link-hover-color;
			}

			&:focus {
				outline: none;
			}
		}

		li {
			display: block;

			&.active {
				a {
					border-bottom-color: currentColor;
					color: $primary;
				}
			}
		}
	}

	.panel {
		margin: 1.5em 0;
		padding: 0;
	}

	h2 {
		font-size: 1.25rem;
		margin: 0 0 1rem;
		display: block;
	}
}
