.product_list_widget {
  li {
    @include clearfix();
    margin: 0;
    padding: 1em 0;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom-width: 0;
    }

    a {
      display: block;
      font-weight: $text-font-weight;
    }

    img {
      float: right;
      margin-left: 4px;
      width: 32px;
      height: auto;
      box-shadow: none;
    }

    ins {
      background: none;
      color: #333;
      font-weight: $headings-font-weight;
    }

    dl {
      display: block;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 100%;

      dt, dd {
        display: inline-block;
        margin: 0 0 8px 0;
      }

      dt {
        font-weight: $headings-font-weight;
      }

      dd {
        p {
          margin: 0;
        }
      }
    }

    .star-rating {
      float: none;
    }
  }
}

// WooCommerce Shopping Cart
.widget_shopping_cart {
  .total {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin: 1rem 0;
    padding: .5rem 0;
    text-align: center;

    strong {
      min-width: 40px;
      display: inline-block;
    }
  }

  .product_list_widget {
    li {
      padding: 1rem 0 1rem 2rem;
      position: relative;
      list-style-type: none;

      a.remove {
        position: absolute;
        top: 1rem;
        left: 0;
      }
    }
  }

  .buttons {
    text-align: center;

    a {
      display: block;
      margin-bottom: .5rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
