.wp-block-quote {

	&:not(.is-large),
	&:not(.is-style-large) {
		border-left: 2px solid $color__link;
		padding-top: 0;
		padding-bottom: 0;
	}

	p {
		font-size: 1em;
		font-style: normal;
		line-height: 1.8;
	}

	cite {
		font-size: $font__size-xs;
	}

	&.is-large,
	&.is-style-large {
		padding: $size__spacing-unit 0 ($size__spacing-unit) ($size__spacing-unit * 2);
		margin: $size__spacing-unit 0;
		border-left: none;

		p {
			font-size: $font__size-lg;
			line-height: 1.4;
			font-style: italic;
		}

		cite,
		footer {
			font-size: $font__size-xs;
		}

		@include media(tablet) {

			margin: $size__spacing-unit calc(2 * (100vw / 12));
			max-width: calc(6 * (100vw / 12));

			p {
				font-size: $font__size-lg;
			}
		}
	}
}
