//! Latest posts, categories, archives
.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
	list-style-position: inside;

	li {
		margin-bottom: 0.5rem;

		a {
			text-decoration: none;
		}

		ul {
			margin-top: 0.5rem;
			margin-left: 3rem;
		}
	}
}

//! Latest posts grid view
.wp-block-latest-posts {
	margin: 0 0 $column-gap;

	&.has-dates {
		.wp-block-latest-posts__post-date {
			margin-left: 1.5em;
		}
	}

	&.is-grid {
		li {
			border-top: 2px solid $text-light;
			padding-top: (1 * $size__spacing-unit);
			margin-bottom: (1 * $size__spacing-unit);

			a {
				&:after {
					content: '';
				}
			}

			&:last-child {
				margin-bottom: auto;

				a:after {
					content: '';
				}
			}
		}
	}
}
