.wp-block-separator,
hr {
	margin-bottom: (2 * $size__spacing-unit);
	margin-top: (2 * $size__spacing-unit);
	text-align: left;

	&:not(.is-style-dots) {
		background-color: $grey;
		border: 0;
		height: 2px;
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	&.is-style-dots {
		text-align: center;

		&:before {
			content: "\00b7 \00b7 \00b7";
			color: $grey;
			font-size: 1.5rem;
			letter-spacing: 2em;
			padding-left: 2em;
			font-family: serif;
		}
	}
}
