.wp-block-button {
	margin-bottom: 1.5em;

	.wp-block-button__link {
		background: $btn-background;
		border: none;
		box-sizing: border-box;
		color: $btn-color;
		font-weight: bold;
		outline: none;
		padding: 0.75em 1.5em;
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}

		&:hover, &:focus {
		}

		&:focus {
			outline: thin dotted;
			outline-offset: -4px;
		}
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: 5px;
	}

	&.is-style-outline {
		.wp-block-button__link,
		.wp-block-button__link:focus,
		.wp-block-button__link:active {
			background: transparent;
			border: 2px solid currentColor;
			color: $text-main;
		}

		.wp-block-button__link:not(.has-text-color) {
			color: $text-main;
		}

		.wp-block-button__link:hover {
			color: $text-main;
		}
	}
}
