.shapla-has-blocks.full-screen {
	.entry-content > * {
		margin: 2rem 1rem;
		max-width: 100%;

		@include media(tablet-small) {
			margin: 2rem auto;
			max-width: $container-sm;
		}

		@include media(tablet) {
			max-width: $container-tablet;
		}

		@include media(desktop) {
			max-width: $container-desktop;
		}

		@include media(wide) {
			max-width: $container-widescreen;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		&.alignwide {
			max-width: $container-widescreen;
		}

		&.alignfull {
			margin: 2rem 0;
			max-width: 100%;
		}

		&.alignleft {
			float: left;
			margin-top: 0;
			max-width: 50%;

			@include media(tablet-small) {
				margin-right: 2rem;
				margin-left: calc((100% - #{$container-sm}) / 2);
			}

			@include media(tablet) {
				margin-left: calc((100% - #{$container-tablet}) / 2);
				max-width: 40%;
			}

			@include media(desktop) {
				margin-left: calc((100% - #{$container-desktop}) / 2);
			}

			@include media(wide) {
				margin-left: calc((100% - #{$container-widescreen}) / 2);
			}
		}

		&.alignright {
			float: right;
			margin-top: 0;
			max-width: 50%;

			@include media(tablet) {
				margin-left: 2rem;
				margin-right: calc((100% - #{$container-tablet}) / 2);
				max-width: 40%;
			}

			@include media(desktop) {
				margin-right: calc((100% - #{$container-desktop}) / 2);
			}

			@include media(wide) {
				margin-right: calc((100% - #{$container-widescreen}) / 2);
			}
		}

		&.aligncenter {
			@include media(tablet) {
				margin: 2rem calc((100% - #{$container-md}) / 2);
				max-width: $container-md;
			}

			@include media(desktop) {
				margin: 2rem calc((100% - #{$container-lg}) / 2);
				max-width: $container-lg;
			}

			@include media(wide) {
				margin: 2rem calc((100% - #{$container-widescreen}) / 2);
				max-width: $container-widescreen;
			}
		}
	}

	#comments.comments-area {
		margin: 3.125rem 1rem;
		max-width: 100%;

		@include media(tablet-small) {
			margin: 3.125rem auto;
			max-width: $container-sm;
		}

		@include media(tablet) {
			max-width: $container-tablet;
		}

		@include media(desktop) {
			max-width: $container-desktop;
		}

		@include media(wide) {
			max-width: $container-widescreen;
		}
	}
}
