.shapla-blog-grid {
	.site-main {
		display: flex;
		flex-wrap: wrap;
		margin: -1rem;
	}

	.page-header {
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.blog-grid-inside {
		display: flex;
		flex-direction: column;
		height: 100%;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(#000, 0.1), 0 0 0 1px rgba(#000, 0.1);

		.post-thumbnail {
			margin: 0;
			padding: 0;

			img {
				width: 100%;
				height: auto;
			}
		}

		.entry-header {
			margin: 1rem;
			padding: 0;
			border: none;
		}

		.cat-links {
			display: block;
			margin-top: 0;
			margin-bottom: .5rem;
			line-height: 1.25;
		}

		.entry-title {
			margin: 0;
			padding: 0;
			font-size: 1.25rem;
		}

		.entry-summary {
			margin: 0 1rem 1rem;
		}

		.tags-links {
			margin: 0 1rem 1rem;
		}

		.spacer {
			flex-grow: 1;
		}

		.entry-footer {
			margin: 0 1rem 1rem;
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.byline {
			font-size: .875rem;
		}

		.posted-on {
			float: right;
			font-size: .875rem;
			margin-left: 1rem;
			white-space: nowrap;
		}

		.published:not(.updated) {
			display: none;
		}
	}

	.pagination {
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.shapla-grid-item:not(.elementor-grid-item) {
		margin-bottom: 0;
		padding: 1rem;
		flex: 0 0 100%;
		max-width: 100%;

		@media screen and (min-width: $screen-sm) {
			flex: 0 0 calc(100% / 2);
			max-width: calc(100% / 2);
		}

		@media screen and (min-width: $screen-md) {
			flex: 0 0 calc(100% / 2);
			max-width: calc(100% / 2);
		}
		@media screen and (min-width: $screen-lg) {
			flex: 0 0 calc(100% / 2);
			max-width: calc(100% / 2);
		}
		@media screen and (min-width: $screen-xl) {
			flex: 0 0 calc(100% / 3);
			max-width: calc(100% / 3);
		}
	}
}


// Default
.blog-grid-inside.layout-default {
	display: flex;
	padding: 1rem;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(#000, 0.1), 0 0 0 1px rgba(#000, 0.1);

	.blog-loop-media {
		max-width: 30%;

		.post-thumbnail {
			margin-right: 1rem;
		}
	}

	.entry-title {
		margin: 0;
		padding: 0;
		font-size: 1.25rem;
	}

	.entry-meta {
		background: transparent;
		justify-content: flex-start;
		padding: 0;
		margin: 1rem 0;
	}
}