.hentry {
	.entry-meta {
		a {
			color: $text-primary;

			&:hover {
				text-decoration: underline;
			}
		}

		> * {
			display: block;
			margin-bottom: $column-gap;
			width: 100%;
		}

		.label {
			color: $text-secondary;
			margin-bottom: .5rem;

			&:before {
				@include fa-solid();
				color: $text-icon;
				padding-right: 5px;
			}
		}

		.byline {
			.author.vcard {
				display: block;
				margin-top: 0.5rem;
			}
		}

		.published:not(.updated) {
			display: none;
		}

		.cat-links a {
			display: block;
		}

		.posted-on .label:before {
			content: "\f133"; // fa-calendar-o
		}

		.cat-links .label:before {
			content: "\f07b"; // fa-folder-o
		}

		.tags-links .label:before {
			content: "\f02c"; // fa-tags
		}

		.comments-link .label:before {
			content: "\f086"; // fa-comment-o
		}

		.edit-link .label:before {
			content: "\f303"; // fa-pencil
		}
	}
}

.byline {
	display: inline-flex;
	align-items: center;

	.author-avatar {
		flex-shrink: 0;

		&.is-32x32 {
			height: 32px;
			width: 32px;
		}

		&.is-96x96 {
			height: 96px;
			width: 96px;
		}

		&.is-rounded > * {
			border-radius: 10000px;
		}
	}
}

@media only screen and (max-width: $screen-md - 1px) {
	.hentry {
		.entry-meta {
			.byline {
				.vcard {
					display: none;
				}
			}

			.posted-on,
			.byline,
			.cat-links,
			.tags-links,
			.comments-link,
			.edit-link {
				.label {
					display: inline;
				}
			}

			.cat-links a {
				display: inline;
			}
		}
	}
}
