.hentry {
	.entry-meta {
		background: rgba(#000, 0.04);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 2rem;
		padding: 1rem;

		> * {
			display: inline-flex;
			align-items: center;

			&:not(:first-child) {
				&:before {
					color: inherit;
					content: "\02022";
					padding: 0 0.75em;
				}
			}
		}

		.cat-links {
			//flex-grow: 1;

			a {
				display: inline-block;
			}
		}

		a {
			color: $text-secondary;

			&:hover {
				text-decoration: underline;
			}
		}

		.label {
			color: $text-secondary;
			margin-bottom: .5rem;

			&:before {
				@include fa-solid();
				color: $text-icon;
				padding-right: 5px;
			}
		}

		.published:not(.updated) {
			display: none;
		}

		.posted-on .label:before {
			content: "\f133"; // fa-calendar-o
		}

		.cat-links .label:before {
			content: "\f07b"; // fa-folder-o
		}

		.tags-links .label:before {
			content: "\f02c"; // fa-tags
		}

		.comments-link .label:before {
			content: "\f086"; // fa-comment-o
		}

		.edit-link .label:before {
			content: "\f303"; // fa-pencil
		}
	}
}

.byline {
	display: inline-flex;
	align-items: center;

	.author-avatar {
		flex-shrink: 0;
		margin-right: 0.5rem;

		&.is-32x32 {
			height: 32px;
			width: 32px;
		}

		&.is-rounded > * {
			border-radius: 10000px;
		}
	}
}

.tags-links {
	display: block;
	list-style-type: none;
	margin: -4px;
	width: 100%;

	li {
		display: inline-block;
		padding: 4px;
	}

	a {
		background: rgba(#000, 0.05);
		border-radius: 4px;
		color: $text-secondary;
		display: block;
		padding: 5px 10px;

		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: $screen-md - 1px) {
	.hentry {
		.entry-meta {
			.byline {
				.vcard {
					display: none;
				}
			}

			.posted-on,
			.byline,
			.cat-links,
			.tags-links,
			.comments-link,
			.edit-link {
				.label {
					display: inline;
				}
			}

			.cat-links a {
				display: inline;
			}
		}
	}
}
