.sticky {
	display: block;

	.entry-title > a:before {
		@include fa-solid();
		content: "\f08d"; // thumbtack
		margin-right: 1rem;
	}
}

// Entry Meta & Content
.hentry {
	margin-bottom: $column-gap;

	.post-thumbnail {
		display: block;
		margin-bottom: 30px;
	}

	.entry-content,
	.entry-summary {
		margin: 0 0 30px 0;
	}
}

.entry-title {
	font-size: 2rem;
	font-weight: $headings-font-weight;
	line-height: 1.25;
	margin-bottom: 2rem;

	a {
		color: inherit;

		&:hover,
		&:focus,
		&:visited,
		&:active {
			color: inherit;
			text-decoration: underline;
		}
	}
}
