.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	&.loading {
		color: transparent !important;
		pointer-events: none;

		&::after {
			animation: fa-spin .500s linear infinite;
			border: 2px solid #dbdbdb;
			border-radius: 100px;
			border-right-color: transparent;
			border-top-color: transparent;
			content: "";
			display: block;
			height: 1em;
			width: 1em;
			left: calc(50% - 0.5em);
			top: calc(50% - 0.5em);
			position: absolute !important;
		}
	}

	&.alt {
		--shapla-button-color: #{$primary};
		--shapla-button-color-dark: #{$primary-variant};
		--shapla-button-color-alpha: #{$primary-alpha};
		--shapla-button-on-color: #{$on-primary};
	}
}

.wc-forward {
	&::after {
		@include fa-solid();
		content: '\f30b'; // long-arrow-alt-right
		margin-left: 0.75em;
		vertical-align: middle;
	}
}

a.added_to_cart {
	white-space: nowrap;
	display: inline-block;
}
