.site-header-cart {
	display: block;
	list-style-type: none;
	position: relative;
	order: 1;
	width: auto; //calc(25% - 2rem);
	padding: 1rem 0;
	margin: 0 0 0 auto;

	.widget_shopping_cart {
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		min-width: 260px;
		z-index: 999999;
		right: -9999em;
		background: #fff;
		box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);
		border-radius: 3px;
		padding: 1rem;

		.woocommerce-mini-cart {
			max-height: 180px;
			overflow-x: hidden;
			overflow-y: auto;
		}

		.woocommerce-mini-cart__buttons {
			margin-bottom: -8px;
		}

		.woocommerce-mini-cart__empty-message {
			margin: 0;
		}

		&:before,
		&:after {
			border-style: solid;
			content: " ";
			position: absolute;
		}

		&:before {
			border-color: rgba(0, 0, 0, 0.06) transparent;
			border-width: 0 10px 10px;
			right: 22px;
			top: -9px;
		}

		&:after {
			border-color: $color--white transparent;
			border-width: 0 8px 8px;
			right: 24px;
			top: -7px;
		}
	}

	@media screen and (min-width: $nav-toggle-width) {
		margin: 0 0 0 2rem;

		.cart-contents {
			span {
				display: inline;
			}

			&:after {
				margin-left: 1rem;
				margin-right: 0;
				height: 1em;
				float: right;
			}
		}

		&:hover,
		&.focus {
			.widget_shopping_cart {
				right: 0;
				display: block;
			}
		}
	}
}

.shapla-cart-contents {
	padding: 0;
	display: block;
	position: relative;
	background-color: transparent;
	height: auto;
	width: auto;
	text-indent: 0;

	&:after {
		@include fa-solid();
		content: "\f291"; // shopping-basket
		float: none;
		margin-right: 1rem;
		line-height: 1.5;
		margin-left: 0;
		font-size: 28px;
	}

	.count {
		font-size: .75rem;
		position: absolute;
		right: 0;
		top: 0;
		background: white;
		min-width: 2em;
		height: 2em;
		border-radius: 3px;
		line-height: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		color: #ffffff;
	}
}

.shapla-main-menu-cart {
	.shapla-cart-contents {
		&:after {
			font-size: 1em;
			line-height: 1.2;
			margin-right: 4px;
		}

		.count {
			position: static;
			float: right;
			height: auto;
			width: auto;
			font-size: 1em;
			line-height: 1.2;
			padding: 0;
			background-color: transparent;
			color: #323232;

			&:before {
				content: '\28';
			}
			&:after {
				content: '\29';
			}
		}
	}
}

@media screen and (max-width: $nav-toggle-width - 1px) {
	.shapla-main-menu-cart {
		display: none;
	}
}
