.woocommerce {
	// Single Product: Variations
	table.variations {
		tbody {
			tr {
				border-bottom-width: 0;

				&:nth-child(odd),
				&:nth-child(even) {
					background-color: transparent;
				}

				td.label {
					text-transform: capitalize;
				}
			}
		}
	}

	// Single Product: Shop attributes
	table.shop_attributes {
		th {
			width: 150px;
		}

		td {
			p {
				margin: 0;
				padding: 0;
			}
		}

		tr:nth-child(even) td,
		tr:nth-child(even) th {
			background: rgba(0, 0, 0, 0.025);
		}
	}

	// My Account Orders List table
	table.my_account_orders {

		font-size: $size-small;

		.order-actions {
			text-align: right;

			.button {
				margin: 0.125em 0 0.125em 0.25em;
			}
		}
	}

	table.woocommerce-MyAccount-downloads {
		td,
		th {
			vertical-align: top;
			text-align: center;

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: left;
			}

			.woocommerce-MyAccount-downloads-file {
				&::before {
					content: '\2193';
					display: inline-block;
				}
			}
		}
	}

	// MyAccount Order detail page
	td.product-name {
		dl.variation,
		.wc-item-meta {
			color: var(--shapla-text-secondary);
			font-size: $size-small;
			list-style-type: none;

			dt, .wc-item-meta-label {
				float: left;
				clear: both;
				margin-right: .25em;
				display: inline-block;
				list-style: none outside;
				text-transform: capitalize;
			}

			dd {
				margin: 0;
			}

			p,
			&:last-child {
				margin-bottom: 0;
			}
		}

		p.backorder_notification {
			font-size: 0.875rem;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}
}

@media only screen and (max-width: $screen-md - 1px) {
	table.shop_table_responsive {
		thead,
		tbody th {
			display: none;
		}

		tbody {
			tr:first-child {
				td:first-child {
					border-top: 0;
				}
			}

			tr:last-child {
				td:last-child {
					border-bottom: 0;
				}
			}
		}

		tr {
			td {
				border-top: none;
				display: block;
				text-align: right;

				&::before {
					content: attr(data-title) ': ';
					font-weight: $headings-font-weight;
					float: left;
				}

				&.product-remove,
				&.download-actions,
				&.actions {
					&::before {
						display: none;
					}
				}
			}

			&:nth-child( 2n ) {
				td {
					background-color: rgba(0, 0, 0, 0.025);
				}
			}
		}
	}
}
