.shapla-header-center {
	.main-navigation {
		width: 100%;
		margin: 0;
	}

	.primary-menu-container {
		display: block;
	}

	.search-toggle {
		display: none;
	}

	.site-branding,
	.site-title {
		order: 0;
		margin-right: auto;
	}

	.menu-toggle {
		order: -1;
	}

	@include media('desktop') {
		.site-branding,
		.site-title {
			flex-grow: 1;
			text-align: center;
			order: 1;
			margin-left: 1rem;
			margin-right: 1rem;
		}
		.main-navigation {
			order: 10;
		}
		.primary-menu-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	@include media('desktop') {
		.site-header-inner {
			position: relative;
		}
		.header__extras {
			position: absolute;
			top: 1rem;
			right: 0;
		}
	}
}
