.shapla-header-widget {
	.site-header-inner {
		.site-branding {
			display: inline-flex;
			padding-right: 1rem;
			align-items: center;
		}

		.site-description {
			margin-left: 0.5rem;
		}

		.main-navigation {
			width: 100%;
			margin: 0;
		}

		.primary-menu-container {
			display: block;
		}

		ul.primary-menu > li {
			&:first-child > a {
				padding-left: 0;
			}
		}
	}

	.header__extras {
		order: 2;
		margin-left: auto;
	}

	.menu-toggle {
		order: 3;
	}

	@include media('tablet') {
		.header__extras {
			margin-left: .625rem;
		}
		.shapla-search {
			order: 1;
			width: 50%;
		}
	}
}
