.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    line-height: 1;
    position: relative;
    vertical-align: top;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    padding: 0.75em 1.5em;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px; // 2px for Small
    font-size: 1rem; // 1.25rem for medium, 1.5rem for large
    background-color: $btn-background;
    color: $btn-color;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active,
    &:focus {
        background-color: $btn-hover-background;
        color: $btn-color;
        outline: none;
    }

    &:focus {
        &:not(:active) {
            box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
        }
    }

    &[disabled] {
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.5;
    }
}
