// Background Color
.shapla {
	&-blue, &-hover-blue:hover { @include bg-color($color--blue, $color--white); }
	&-green, &-hover-green:hover { @include bg-color($color--green, $color--white); }
	&-orange, &-hover-orange:hover { @include bg-color($color--orange, $color--black); }
	&-pink, &-hover-pink:hover { @include bg-color($color--pink, $color--white); }
	&-purple, &-hover-purple:hover { @include bg-color($color--purple, $color--white); }
	&-red, &-hover-red:hover { @include bg-color($color--red, $color--white); }
	&-teal, &-hover-teal:hover { @include bg-color($color--teal, $color--white); }
	&-yellow, &-hover-yellow:hover { @include bg-color($color--yellow, $color--black); }
	&-white, &-hover-white:hover { @include bg-color($color--white, $color--black); }
	&-black, &-hover-black:hover { @include bg-color($color--black, $color--white); }
	&-grey, &-hover-grey:hover { @include bg-color($color--grey, $color--black); }

	&-hover {
		&-blue, &-green, &-orange, &-pink, &-purple,
		&-red, &-teal, &-yellow, &-white, &-black, &-grey {
			-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
			transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
		}
	}
}

// Border Color
.shapla-border {
	&-red, &-hover-red:hover{border-color: $color--red; }
	&-green, &-hover-green:hover{ border-color: $color--green; }
	&-blue, &-hover-blue:hover{ border-color: $color--blue; }
	&-yellow, &-hover-yellow:hover{ border-color: $color--yellow; }
	&-white, &-hover-white:hover{ border-color: $color--white; }
	&-black, &-hover-black:hover{ border-color: $color--black; }
	&-grey, &-hover-grey:hover,
	&-gray, &-hover-gray:hover{ border-color: $color--grey; }
}