input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border: 1px solid $color__border-input;
    padding: 0.6em 1em;
    width: 100%;

    &:focus {
        color: $color__text-input-focus;
    }
}

select {
    padding: 8px 4px;
    color: $color__text-input-focus;
    border: 1px solid transparent;
    border-bottom: 1px solid $color__border-input;
}

.post-password-form {
    margin-bottom: 15px;
    label {
        display: block;
        margin-bottom: 15px;
    }

    input[type="password"] {
        margin-top: 10px;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
