.site-header {
    box-shadow: 0 1px 0 rgba(#000, 0.1);
    background-color: $color--white;
    color: $color--dark_grey;
    width: 100%;
    z-index: 100;
    transition: all 0.5s ease-in-out;

    @media screen and (min-width: $nav-toggle-width) {
        &.is-sticky {
            box-shadow: 0 3px 3px rgba(#000, 0.25);
            position: fixed;
            top: 0;

            .admin-bar & {
                top: 32px;
            }
        }
    }

    a {
        color: $color--dark_grey;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color--dark_grey;
        }
    }
}

.site-branding {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .custom-logo {
        max-height: 2.5rem;
        width: auto;
    }
}

.site-title {
    font-size: 2rem;
    line-height: 1.2;
    margin: 0;

    > a {
        color: $color--dark_grey;
        text-decoration: none;
        display: block;
    }
}

.site-description {
    margin: 0.5rem 0 0;
    font-size: 0.875rem;
    opacity: 0.8;
    line-height: 1.2;
}

// Search form
.search-toggle {
    i.fa-search {
        cursor: pointer;
        font-size: 0.875rem;
        padding: 0.75rem;
    }
}

//== Header layout
.site-header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .site-branding,
    .menu-toggle,
    .site-header-menu,
    .search-toggle {
        flex: 0 0 auto;
    }

    .site-branding {
        order: 1;
    }
    .search-toggle {
        order: 2;
        margin: 1rem 0.5rem 1rem auto;
    }
    .menu-toggle {
        order: 3;
    }
    .site-header-menu {
        order: 4;
        margin-left: auto;
        flex: 0 0 100%;
    }

    // media screen >= 769px
    @media screen and (min-width: $nav-toggle-width) {
        .site-branding {
            order: 1;
        }
        .menu-toggle {
            order: 2;
        }
        .site-header-menu {
            display: block;
            order: 3;
            margin-left: auto;
            flex: 0 0 auto;
        }
        .search-toggle {
            order: 4;
            margin: 1rem 0 1rem 0.5rem;
        }
    }
}