$susy: (
        'columns': susy-repeat(12),
        'gutters': 2rem,
        'spread': 'narrow',
        'container-spread': 'narrow',
);

.site-header,
.footer-widget-area,
.site-footer {
    .shapla-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.shapla-container {
    margin-right: auto;
    margin-left: auto;
}

.site-content {
    margin-right: auto;
    margin-left: auto;

    .content-area,
    .widget-area {
        width: 100%;
        padding: 2rem 1rem;
    }
}

.hentry.type-post {
    .entry-meta,
    .entry-content {
        width: 100%;
    }
}

.full-width {
    .site-content {
        .content-area {
            width: 100%;
            margin-right: 0;
        }
    }
}

.full-screen {
    .site-content {
        margin: 0;
        padding: 0;
        width: 100%;

        .content-area {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

@media screen and (min-width: $screen-sm) {
    .site-content,
    .shapla-container {
        width: 540px;
        max-width: 100%;
    }

    .site-header,
    .footer-widget-area,
    .site-footer {
        .shapla-container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .site-content {
        .content-area,
        .widget-area {
            padding: 2rem 0;
        }
    }
}

@media screen and (min-width: $screen-md) {
    .site-content,
    .shapla-container {
        width: 720px;
        max-width: 100%;
    }

    .site-content {
        .content-area {
            width: span(12);
            float: none;
        }
        .widget-area {
            width: span(12);
            float: none;
        }
    }

    .left-sidebar {
        .site-content {
            .content-area {
                width: span(12);
            }
            .widget-area {
                width: span(12);
            }
        }
    }

    .hentry.type-post {
        .entry-meta {
            width: span(3 of 12);
            margin-right: gutter();
            float: left;
        }
        .entry-content {
            width: span(9 of 12);
            float: right;
        }
    }
}

@media screen and (min-width: $screen-lg) {
    .site-content,
    .shapla-container {
        width: 960px;
        max-width: 100%;
    }

    .site-content {
        .content-area {
            width: span(9 of 12);
            margin-right: gutter();
            float: left;
        }
        .widget-area {
            width: span(3 of 12);
            float: right;
        }
    }

    .left-sidebar {
        .site-content {
            .content-area {
                width: span(9 of 12);
                float: right;
            }
            .widget-area {
                width: span(3 of 12);
                margin-right: gutter();
                float: left;
            }
        }
    }

    .hentry.type-post {
        .entry-meta {
            width: span(2 of 9);
            margin-right: gutter();
            float: left;
        }
        .entry-content {
            width: span(7 of 9);
            float: right;
        }
    }
}

@media screen and (min-width: $screen-xl) {
    .site-content,
    .shapla-container {
        width: 1140px;
        max-width: 100%;
    }

    .site-content {
        .content-area {
            width: span(9 of 12);
            margin-right: gutter();
            float: left;
        }
        .widget-area {
            width: span(3 of 12);
            float: right;
        }
    }

    .left-sidebar {
        .site-content {
            .content-area {
                width: span(9 of 12);
                margin-right: 0;
                float: right;
            }
            .widget-area {
                width: span(3 of 12);
                margin-right: gutter();
                float: left;
            }
        }
    }

    .hentry.type-post {
        .entry-meta {
            width: span(2 of 9);
            margin-right: gutter(1 of 9);
            float: left;
        }
        .entry-content {
            width: span(7 of 9);
            float: right;
        }
    }
}
