table {
    background-color: #ffffff;
    color: #363636;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td, th {
        border: 1px solid #dbdbdb;
        border-width: 0 0 1px;
        padding: 0.5em 0.75em;
        vertical-align: top;
        text-align: left;
    }

    th {
        color: #363636;
        font-weight: 500;
        text-align: left;
    }

    thead {
        td, th {
            border-width: 0 0 2px;
            color: #363636;
            font-weight: 500;
        }
    }

    tfoot {
        td, th {
            border-width: 2px 0 0;
            color: #363636;
            font-weight: 500;
        }
    }

    tbody tr:last-child {
        td,
        th {
            border-bottom-width: 0;
        }
    }

    // Border Table
    &.is-bordered {
        td, th {
            border-width: 1px;
        }

        tr:last-child td,
        tr:last-child th {
            border-bottom-width: 1px;
        }
    }

    // Striped Table 
    &.is-striped {
        tbody {
            tr:nth-child(even) {
                background-color: #fafafa;
            }
        }
    }
}
