html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    background-color: $color__background-body;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    background: $color__background-body;
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    color: $headings-color;
    margin: 10px 0;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}

strong {
    font-weight: 500;
}

hr {
    border: 0;
    border-top: 1px solid $color__background-hr;
    margin: 1em 0;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

p {
    margin-bottom: 1em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    border-left: 5px solid $color--grey;
    margin: 0 0 1.5em;
    padding: 10px 20px;
    font-size: 17.5px;

    ol:last-child,
    p:last-child,
    ul:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }
}

address {
    margin: 0 0 1.5em;
}

code,
pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: $font-family-monospace;
}

pre {
    background: $color--light_grey;
    font-family: $font-family-monospace;
    font-size: 1rem;
    border: 1px solid $color--grey;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

code, kbd, tt, var {
    background: $color--light_grey;
    font-family: $font-family-monospace;
    padding: 4px 8px;
    font-size: 1rem;
}

abbr, acronym {
    border-bottom: 1px dotted $color--grey;
    cursor: help;
}

mark, ins {
    background: $color--strikemaster;
    color: $color--white;
    text-decoration: none;
    padding: 4px 8px;
}

big {
    font-size: 1.25rem;
}

blockquote, q {
    quotes: "" "";

    &:before,
    &:after {
        content: "";
    }
}

ul, ol {
    margin: 0 0 1rem 1rem;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5rem;
}

dt {
    font-weight: 500;
}

dd {
    margin: 0 1rem 1rem;
}
