// Drop Toggle button
.dropdown-toggle {
	color: var(--header-text-color, #{$color--dark_grey});
	cursor: pointer;
	display: block;
	height: 3rem;
	width: 3rem;

	background-color: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;

	&:before,
	&:after {
		content: "";
		background-color: currentColor;
		display: block;
		height: 1px;
		left: calc(50% - 8px);
		position: absolute;
		transform-origin: center;
		transition-duration: 86ms;
		transition-property: background-color, opacity, transform;
		transition-timing-function: ease-out;
		width: 16px;
	}

	&:before {
		transform: rotate(90deg);
	}

	&.toggled-on {
		&:before {
			transform: rotate(180deg);
		}
	}

	&:hover,
	&:focus {
		background-color: transparent;
		box-shadow: none;
		color: var(--header-accent-color, #{$primary});
	}

	&:focus {
		color: var(--header-accent-color, #{$primary});
		outline: thin dotted;
		outline-offset: -1px;
	}
}
