a {
	background-color: transparent;
	color: $secondary;
	text-decoration: none;
	transition: color 110ms ease-in-out;

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		color: $secondary-variant;
		outline: 0;
		text-decoration: none;
	}
}
