a {
	background-color: transparent;
	color: $primary;
	text-decoration: none;
	transition: color 110ms ease-in-out;

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		color: $primary-variant;
		outline: 0;
		text-decoration: none;
	}
}
