// Main Navigation style for small screen
.main-navigation {
	display: none;
	margin: 1rem 0;
	transition: height 86ms ease-out;
	font-size: 0.875rem;
	line-height: 1.5;

	&.toggled-on {
		display: block;
		clear: both;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			display: none;
			margin-left: 1rem;
			padding: 0;
			box-shadow: none;

			&.toggled-on {
				display: block;
			}
		}
	}

	li {
		position: relative;
	}

	a {
		align-items: center;
		color: var(--header-text-color, #{$text-primary});
		cursor: pointer;
		display: flex;
		line-height: 1.2;
		outline-offset: -1px;
		padding: 1rem 0;
		text-decoration: none;

		&:hover,
		&.focus {
			color: var(--header-accent-color, #{$primary});
		}

		// for icon font
		i {
			margin-right: .25rem;
		}
	}

	.menu-item-has-children > a,
	.page_item_has_children > a {
		margin-right: 3.5rem;
	}

	.current-menu-item > a,
	.current-menu-ancestor > a,
	.current_page_item > a,
	.current_page_ancestor > a {
		color: var(--header-accent-color, #{$primary});
	}
}

/**!
 * Main navigation style for large screen
 * media screen >= 1025px
 */
@media screen and (min-width: $nav-toggle-width) {

	.main-navigation {
		margin: 0;

		// Add Down Angle Icon on menu item that has children
		.menu-item-has-children > a,
		.page_item_has_children > a {
			margin: 0;
			padding-right: 2rem;

			&:after {
				position: absolute;
				right: 0.75rem;
				top: 1rem;
				content: '';
				border-style: solid;
				border-width: 0 1px 1px 0;
				padding: 3px;
				transform: rotate(45deg);
			}
		}

		// Add Down Angle Icon on top level sub menu
		ul li {
			&.menu-item-has-children,
			&.page_item_has_children {
				&:before,
				&:after {
					border-style: solid;
					border-width: 0 8px 8px;
					content: "";
					display: none;
					height: 0;
					position: absolute;
					right: 0.5rem;
					width: 0;
					z-index: 100000;
				}

				&:before {
					border-color: transparent transparent rgba(#000, 0.06);
					bottom: 0;
				}

				&:after {
					border-color: transparent transparent var(--submenu-background-color, #{$color--white});
					bottom: -1px;
				}

				&:hover,
				&.focus {
					&:before,
					&:after {
						display: block;
					}
				}
			}
		}

		// Disabled Down Angle Icon on Second level sub menu
		ul ul li {
			&.menu-item-has-children,
			&.page_item_has_children {
				&:before,
				&:after {
					border: none;
				}
			}
		}

		a {
			padding: 0.75rem;
			white-space: nowrap;
		}

		li {
			float: left;

			&:hover > a,
			&.focus > a {
				color: var(--header-accent-color, #{$primary});
			}
		}

		// Second level menu
		ul ul {
			display: block;
			left: -9999px;
			margin: 0;
			padding: 0.5rem;
			border-radius: 4px;
			background-color: var(--submenu-background-color, #{$color--white});
			color: var(--submenu-text-color, #{$color--dark_grey});
			position: absolute;
			z-index: 99999;
			box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

			li {
				left: auto;
			}

			a {
				white-space: normal;
				width: 200px;
				color: var(--submenu-text-color, #{$text-primary});
				border-radius: 3px;

				&:hover,
				&:focus {
					color: var(--submenu-accent-color, #{$primary});
					//background-color: rgba(#000, .02);
				}
			}

			.current-menu-item > a,
			.current-menu-ancestor > a,
			.current_page_item > a,
			.current_page_ancestor > a {
				// color: var(--header-accent-color, #{$primary});
				//background-color: rgba(#000, .02);

				&:hover,
				&:focus {
					color: var(--submenu-accent-color, #{$primary});
					//background-color: rgba(#000, .02);
				}
			}
		}

		// Third level menu
		ul ul ul {
			top: -1px;
		}
	}

	// Left to Right dropdown direction
	.main-navigation.dropdown-ltr {
		li {
			&:hover > ul,
			&.focus > ul {
				left: 0;
				right: auto;
			}
		}

		ul ul {
			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			.menu-item-has-children > a:after,
			.page_item_has_children > a:after {
				transform: rotate(-45deg);
			}
		}
	}

	// Right to Left dropdown direction
	.main-navigation.dropdown-rtl {
		li {
			&:hover > ul,
			&.focus > ul {
				left: auto;
				right: 0;
			}
		}

		ul ul {
			li {
				&:hover > ul,
				&.focus > ul {
					right: 100%;
				}
			}

			.menu-item-has-children > a:after,
			.page_item_has_children > a:after {
				transform: rotate(135deg);
			}
		}
	}

	// Hide both dropdown toggle and menu toggle on large screen
	.dropdown-toggle,
	.menu-toggle {
		display: none;
	}
}
