.navigation {
	font-size: 1rem;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: 100%;
	}

	&.pagination,
	&.comments-pagination {
		.nav-links {
			width: auto;
		}
	}

	.page-numbers {
		align-items: center;
		border-radius: 3px;
		display: inline-flex;
		padding: calc(0.375em - 1px) 0.5em;
		justify-content: center;
		margin: 0.25rem;
		text-align: center;
		height: 2.25em;
		min-width: 2.25em;
		border: 1px solid #dbdbdb;
		color: $text-primary;

		&.dots {
			pointer-events: none;
			border-color: transparent;
			color: $text-hint;
		}

		&.current {
			background-color: $primary;
			border-color: $primary;
			color: $on-primary;
		}

		&.prev:before,
		&.next:after {
			@include fa-solid();
		}

		&.prev:before {
			content: "\f104";
		}

		&.next:after {
			content: "\f105";
		}

		&:active,
		&:focus {
			outline: none;
		}

		&:not(.current):hover {
			border-color: #b5b5b5;
			color: $text-primary;
		}

		&:focus {
			border-color: $primary;
		}

		&:active {
			box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
		}
	}

	// Post navigation
	&.post-navigation {
		padding: 1rem 0;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #dddddd;

		.nav-links {
			display: flex;
			justify-content: space-between;
			align-content: center;
			width: 100%;
		}

		.nav-previous,
		.nav-next {
			align-items: center;
			display: flex;
			width: 50%;

			&-text {
				display: flex;
				width: 100%;
				flex-direction: column;
				color: $text-primary;
				overflow: hidden;
			}

			a {
				display: flex;
				width: 100%;
				align-items: center;

				&:before,
				&:after {
					@include fa-solid();
					font-size: 2rem;
					color: $text-icon;
				}
			}
		}

		.nav-previous {
			border-right: 1px solid #dddddd;
			padding-right: 1rem;

			a {
				text-align: left;

				&:before {
					content: "\f104";
					margin-right: 1rem;
				}
			}
		}

		.nav-next {
			padding-left: 1rem;
			margin-left: 50%;
			border-left: 1px solid #dddddd;

			a {
				text-align: right;

				&:after {
					content: '\f105';
					margin-left: 1rem;
				}
			}
		}

		.nav-previous + .nav-next {
			margin-left: 0;
			border-left: none;
		}

		.meta-nav {
			text-transform: uppercase;
			color: $text-secondary;
		}

		.post-title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
	}
}
