$buttons: (
        'primary': #00d1b2,
        'info': #2196f3,
        'success': #4caf50,
        'warning': #ff9800,
        'danger': #f44336,
        'white': #ffffff,
        'light': #f5f5f5,
        'dark': #363636,
        'black': #0a0a0a,
);

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    line-height: 1.5;
    padding-top: calc(0.375em - 1px);
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    position: relative;
    vertical-align: top;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;

    background-color: $button-background;
    border-color: $button-border;
    color: $button;

    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

    &:focus,
    &.is-focus,
    &:active,
    &.is-active {
        outline: none;
    }

    strong {
        color: inherit;
    }

    .icon {
        &,
        &.is-small,
        &.is-medium,
        &.is-large {
            height: 1.5em;
            width: 1.5em;
        }

        &:first-child:not(:last-child) {
            margin-left: calc(-0.375em - 1px);
            margin-right: 0.1875em;
        }

        &:last-child:not(:first-child) {
            margin-left: 0.1875em;
            margin-right: calc(-0.375em - 1px);
        }

        &:first-child:last-child {
            margin-left: calc(-0.375em - 1px);
            margin-right: calc(-0.375em - 1px);
        }
    }

    // States
    &:hover,
    &.is-hover {
        border-color: $button-hover-border;
        color: $button-hover;
    }

    &:focus,
    &.is-focus {
        border-color: $button-focus-border;
        box-shadow: 0 0 0.5em rgba($button-focus-border, 0.25);
        color: $button-focus;
    }

    &:active,
    &.is-active {
        border-color: $button-active-border;
        box-shadow: $button-shadow-inset;
        color: $button-active;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
        box-shadow: none;
    }

    // Colors
    &.is-link {
        background-color: transparent;
        border-color: transparent;
        color: #4a4a4a;
        text-decoration: underline;

        &:hover,
        &.is-hover,
        &:focus,
        &.is-focus,
        &:active,
        &.is-active {
            background-color: whitesmoke;
            color: #363636;
        }
    }

    @each $name, $color in $buttons {

        $color-invert: findColorInvert($color);

        &.is-#{$name} {
            background-color: $color;
            border-color: transparent;
            color: $color-invert;

            &:hover,
            &.is-hover {
                background-color: darken($color, 10%);
                border-color: transparent;
                color: $color-invert;
            }

            &:focus,
            &.is-focus {
                border-color: transparent;
                box-shadow: 0 0 0.5em rgba($color, 0.25);
                color: $color-invert;
            }

            &:active,
            &.is-active {
                background-color: darken($color, 5%);
                border-color: transparent;
                box-shadow: $button-shadow-inset;
                color: $color-invert;
            }

            &[disabled] {
                background-color: $color;
                border-color: transparent;
                box-shadow: none;
            }

            &.is-loading {
                &:after {
                    border-color: transparent transparent $color-invert $color-invert !important;
                }
            }

            &.is-outlined {
                background-color: transparent;
                border-color: $color;
                color: $color;

                &:hover,
                &:focus {
                    background-color: $color;
                    border-color: $color;
                    color: $color-invert;
                }

                &[disabled] {
                    background-color: transparent;
                    box-shadow: none;
                    color: $color;
                }

                &.is-loading {
                    &:after {
                        border-color: transparent transparent $color $color !important;
                    }
                }
            }
        }
    }

    &.is-loading {
        color: transparent !important;
        pointer-events: none;

        &:after {
            animation: spinAround 500ms infinite linear;
            border: 2px solid #dbdbdb;
            border-radius: 50%;
            border-right-color: transparent;
            border-top-color: transparent;
            content: "";
            display: block;
            height: 1em;
            width: 1em;
            left: calc(50% - (1em / 2));
            top: calc(50% - (1em / 2));
            position: absolute !important;
        }
    }

    // Sizes
    &.is-small {
        border-radius: 2px;
        font-size: 0.75rem;
    }

    &.is-medium {
        font-size: 1.25rem;
    }

    &.is-large {
        font-size: 1.5rem;
    }

    &.is-fullwidth {
        display: flex;
        width: 100%;
    }

    // Shapes
    &.is-square {
        border-radius: 0 !important;
    }
    &.is-round {
        border-radius: 3px !important;
    }
    &.is-pill {
        border-radius: 1em !important;
    }
}

// Adjustment for vertical spacing
button.button,
input[type="submit"].button {
    line-height: 1;
    padding-bottom: 0.4em;
    padding-top: 0.35em;
}
