@import "../../../utilities/mixins";

.site-content {
	.content-area,
	.widget-area {
		width: 100%;
		padding: 2rem 0;
	}
}

.full-width {
	.content-area {
		//width: 100%;
		//margin-right: 0;
	}
}

.full-screen {
	.site-content-inner,
	.content-area {
		padding: 0;
	}

	.hentry,
	.hentry .entry-content {
		margin-bottom: 0;
	}
}

@include media('desktop') {
	.left-sidebar,
	.right-sidebar {
		.site-content-inner {
			margin-left: -1rem;
			margin-right: -1rem;
		}

		.content-area {
			width: 75%;
			padding: 2rem 1rem;
		}

		.widget-area {
			width: 25%;
			padding: 2rem 1rem;
		}
	}
	.right-sidebar {
		.content-area {
			float: left;
		}

		.widget-area {
			float: right;
		}
	}

	.left-sidebar {
		.content-area {
			float: right;
		}

		.widget-area {
			float: left;
		}
	}
}
