.footer-widgets {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;

    .widget-block {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 1rem;
        flex: 1 0 100%;

        @include media('tablet-small') {
            flex: 1 0 50%;
        }
        @include media('desktop') {
            flex: 1 0 33.333333%;
        }

        @include media('wide') {
            flex: 1 0 25%;
        }
    }
}
