.footer-widgets {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;

    .widget-block {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 1rem;
        flex: 1 0 100%;

        @media screen and (min-width: $screen-sm) {
            flex: 1 0 50%;
        }
        @media screen and (min-width: $screen-lg) {
            flex: 1 0 33.333333%;
        }

        @media screen and (min-width: $screen-xl) {
            flex: 1 0 25%;
        }
    }
}
