.widget {
	margin: 0 auto 2em;

	.widget-title,
	.widgettitle {
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		font-size: $font-size-large;
		border-bottom: 1px solid $color--light_grey;
	}

	li:before {
		@include fa-solid();
		margin-right: 0.5rem;
		color: $text-icon;
	}

	&.widget_archive li:before {
		content: '\f07c'; // folder-open
	}

	&.widget_categories li:before {
		content: '\f07b'; // folder
	}

	&.widget_pages li:before {
		content: '\f15c'; // f15c
	}

	&.widget_recent_comments li:before {
		content: '\f086'; // comments
	}

	&.widget_recent_entries li:before {
		content: '\f15c'; // file-alt
	}

	&.widget_nav_menu li:before {
		content: '\f15c';
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 0.5rem;
		}

		ul {
			margin-top: 0.5rem;
			margin-left: 2rem;
		}
	}

	a {
		color: $text-primary;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	select {
		width: 100%;
	}
}

.widget_rss {
	ul {
		list-style: none;
		margin: 0;

		li {
			margin-bottom: 25px;
		}
	}

	ul:last-child,
	li:last-child {
		margin-bottom: 0;
	}

	.rsswidget {
		border: 0;
		font-weight: $text-font-weight;

		img {
			margin-top: -4px;
		}
	}

	.rss-date, cite {
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
	}
}

.widget_calendar {
	caption {
		margin-bottom: 1rem;
	}

	table {
		border: none;

		th, td {
			border: none;
			font-size: 0.875rem;
			line-height: 1.8;
			padding: 5px;
			text-align: center;
		}

		thead tr {
			background-color: #eeeeee;
		}
	}
}

.footer-widget-area {
	background-color: var(--footer-widget-background-color, #{$widget-footer-background-color});
	background-image: var(--footer-widget-background-image, none);
	background-repeat: var(--footer-widget-background-repeat, no-repeat);
	background-position: var(--footer-widget-background-position, center center);
	background-size: var(--footer-widget-background-size, cover);
	background-attachment: var(--footer-widget-background-attachment, fixed);
	color: var(--footer-widget-text-primary, #{$color--light_grey});
	padding-top: 3.125rem;
	padding-bottom: 1.125rem;

	li:before {
		color: currentColor;
		opacity: 0.6;
	}

	a {
		color: var(--footer-widget-text-accent, #{$color--white});
	}

	.widget-title {
		color: var(--footer-widget-text-primary, #{$color--light_grey});
		border-color: currentColor;
	}

	table {
		background: transparent;

		thead tr {
			background-color: transparent;
		}

		td, th {
			color: var(--footer-widget-text-primary, #{$color--light_grey});
		}
	}
}
