.shapla-header-widget {
    .site-header-inner {
        .site-branding {
            display: inline-flex;
            padding-right: 1rem;
            align-items: center;
        }

        .site-description {
            margin-left: 0.5rem;
        }

        .main-navigation {
            width: 100%;
            margin: 1rem 0 0;
        }

        .primary-menu-container {
            display: block;
        }
        .search-toggle {
            display: none;
        }

        ul.primary-menu > li {
            &:first-child > a {
                padding-left: 0;
            }
        }
    }
}