.site-header {
	box-shadow: 0 1px 0 rgba(#000, 0.1);
	background-color: var(--header-background-color, #{$color--white});
	background-image: var(--header-background-image, none);
	color: var(--header-text-color, #{$color--dark_grey});
	width: 100%;
	z-index: 100;
	transition: all 0.5s ease-in-out;

	a {
		color: var(--header-text-color, #{$color--dark_grey});
		text-decoration: none;

		&:hover,
		&:focus {
			color: var(--header-text-color, #{$color--dark_grey});
		}
	}

	&.is-transparent {
		&:not(.header--not-top) {
			--header-background-color: transparent;
			box-shadow: none;
		}
	}

	.is-fluid {
		@include media('tablet') {
			--container-padding-x: 2rem;
		}
		@include media('wide') {
			--container-padding-x: 3rem;
		}
	}
}

// Fixed Header
.has-fixed-header {
	padding-top: var(--body-pt, 0);
}

.has-transparent-header {
	margin-top: calc(-1 * var(--body-pt));
}

.header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.admin-bar & {
		top: 32px;

		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}

	// The sticky class is added to the header with JS when it reaches its scroll position
	@media screen and (min-width: $nav-toggle-width) {
		&.header--not-top {
			box-shadow: 0 3px 3px rgba(#000, 0.25);
		}
	}
}

.site-branding {
	padding-top: 1rem;
	padding-bottom: 1rem;

	.custom-logo {
		max-height: 2.5rem;
		width: auto;
	}
}

.site-title {
	font-size: var(--header-logo-font-size, 2rem);
	line-height: 1.2;
	margin: 0;
	font-weight: normal;

	> a {
		color: var(--header-text-color, #{$color--dark_grey});
		text-decoration: none;
		display: block;
	}
}

.site-description {
	color: var(--header-text-color, #{$color--dark_grey});
	margin: 0.5rem 0 0;
	font-size: 0.875rem;
	opacity: 0.8;
	line-height: 1.2;
}

//== Header layout
.site-header-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	.site-branding,
	.menu-toggle,
	.main-navigation,
	.search-toggle {
		flex: 0 0 auto;
	}

	.site-branding {
		order: 1;
	}

	.search-toggle {
		order: 2;
		margin: 1rem 0.5rem 1rem auto;
	}

	.header__extras {
		order: 8;
	}

	.menu-toggle {
		//order: 9;
	}

	.main-navigation {
		order: 10;
		margin-left: auto;
		flex: 0 0 100%;
	}

	// media screen >= 1025px
	@media screen and (min-width: $nav-toggle-width) {
		.site-branding {
			order: 1;
		}
		.menu-toggle {
			order: 2;
		}
		.main-navigation {
			display: block;
			order: 3;
			margin-left: auto;
			flex: 0 0 auto;
		}
	}
}

