.shapla-search {
	order: 4;
	padding: 1rem 0;
	width: 100%;
	float: none;
	z-index: 1;
	margin-left: auto;

	@media screen and (min-width: $nav-toggle-width) {
		order: 1;
		padding: 1rem 0 1rem 1rem;
		width: 50%;
		float: left;
	}
}

// Search form
.woocommerce-product-search,
.search-form {
	font-size: 1rem;
	position: relative;

	input[type=text],
	input[type=search] {
		width: 100%;
		padding-left: 35px;
	}

	.search-submit,
	button[type=submit] {
		clip: rect(1px, 1px, 1px, 1px);
		left: 0;
		position: absolute !important;
		top: 0;
	}

	&:before {
		@include fa-solid();
		content: "\f002";
		position: absolute;
		z-index: 10;
		color: $text-icon;
		top: 0.75em;
		left: 0.75em;
	}
}
