.hentry {
	.entry-meta {
		a {
			color: $color__text-main;

			&:hover {
				text-decoration: underline;
			}
		}

		.posted-on,
		.byline,
		.cat-links,
		.tags-links,
		.comments-link,
		.edit-link {
			display: block;
			margin-bottom: 15px;

			.label:before {
				@include fa-icon;
				padding-right: 5px;
			}
		}

		.published:not(.updated) {
			display: none;
		}

		.byline {
			.vcard {
				margin-bottom: 15px;
			}
		}

		.cat-links a {
			display: block;
		}

		.posted-on .label:before {
			content: "\f133"; // fa-calendar-o
		}
		.byline .label:before {
			content: "\f2c0"; // fa-user-o
		}
		.cat-links .label:before {
			content: "\f114"; // fa-folder-o
		}
		.tags-links .label:before {
			content: "\f02c"; // fa-tags
		}
		.comments-link .label:before {
			content: "\f0e5"; // fa-comment-o
		}
		.edit-link .label:before {
			content: "\f040"; // fa-pencil
		}
	}
}

@media only screen and (max-width: $screen-md - 1px) {
	.hentry {
		.entry-meta {
			.byline {
				.vcard {
					display: none;
				}
			}
			.posted-on,
			.byline,
			.cat-links,
			.tags-links,
			.comments-link,
			.edit-link {
				.label {
					display: inline;
				}
			}
			.cat-links a {
				display: inline;
			}
		}
	}
}