@import "../../utilities/variables";

.shapla-drawer {

	&__background,
	&__body {
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
	}

	&__background {
		background: rgba(#000, .5);
		display: none;
		width: 100%;
		z-index: 101;
	}

	&__body {
		background-color: $surface;
		border: none;
		overflow: hidden;
		transition: transform 200ms cubic-bezier(.4, 0, .2, 1);
		z-index: 10001;

		@media (prefers-reduced-motion: reduce) {
			transition: none;
		}
	}

	&__content {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
	}

	&.is-active {
		.shapla-drawer__background {
			display: block;
		}

		.shapla-drawer__body {
			box-shadow: 0 2px 2px 0 rgba(#000, .14), 0 3px 1px -2px rgba(#000, .2), 0 1px 5px 0 rgba(#000, .12);
			transform: translateX(0);
		}
	}

	&--left:not(.is-active) {
		.shapla-drawer__body {
			transform: translateX(-100%);
		}
	}

	&--right:not(.is-active) {
		.shapla-drawer__body {
			transform: translateX(100%);
		}
	}

	&--right {
		.shapla-drawer__body {
			left: auto;
			right: 0;
		}
	}

	&--bottom:not(.is-active) {
		.shapla-drawer__body {
			transform: translateY(100%);
		}
	}


	&--bottom,
	&--top {
		.shapla-drawer__body {
			position: fixed;
			width: 100%;
			height: inherit;
		}
	}

	&--bottom {
		.shapla-drawer__body {
			bottom: 0;
			top: auto;
		}
	}

	&--top:not(.is-active) {
		.shapla-drawer__body {
			transform: translateY(-100%);
		}
	}

	&--top {
		.shapla-drawer__body {
			bottom: auto;
			top: 0;
		}
	}
}

body.admin-bar {
	.shapla-drawer--top .shapla-drawer__body,
	.shapla-drawer--right .shapla-drawer__body,
	.shapla-drawer--left .shapla-drawer__body {
		top: 32px;

		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}

	.shapla-drawer--right .shapla-drawer__body,
	.shapla-drawer--left .shapla-drawer__body {
		height: calc(100% - 32px);

		@media screen and (max-width: 782px) {
			height: calc(100% - 46px);
		}
	}
}
