.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    z-index: 10;

    .hero-carousel__dots-inside & {
        bottom: 10px;
    }

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 8px;
        background: #333;
        border-radius: 50%;
        opacity: 0.25;
        cursor: pointer;

        &.is-selected {
            opacity: 1;
        }
    }

    .flickity-rtl & {
        direction: rtl;
    }

    // Dots shape ==> circles
    .has-dots-circle & {
        .dot {
            opacity: 1;
            background: transparent;
            border: 2px solid #333;

            &.is-selected {
                background: #333;
            }
        }
    }

    // Dots shape ==> lines
    .has-dots-line & {
        .dot {
            height: 4px;
            width: 40px;
            margin: 0;
            border-radius: 0;

            &.is-selected {
                background: #333;
            }
        }
    }

    // Dots positions
    .dots-left & {
        text-align: left;
    }
    .dots-right & {
        text-align: right;
    }
}
