.flickity-prev-next-button {
    position: absolute;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 3px;
    background: #ffffff;
    background: rgba(#ffffff, 0.75);
    cursor: pointer;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        background: white;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 5px #09F;
    }

    &:active {
        opacity: 0.6;
    }

    &.previous {
        left: 10px;
    }

    &.next {
        right: 10px;
    }

    &:disabled {
        opacity: 0.3;
        cursor: auto;
    }

    svg {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }

    .arrow {
        fill: #333;
    }

    // right to left
    .flickity-rtl & {
        &.previous {
            left: auto;
            right: 10px;
        }

        &.next {
            right: auto;
            left: 10px;
        }
    }
}
