.shapla-about-wrap {
	box-sizing: border-box;

	* {
		box-sizing: inherit;
	}

	.shapla-about-content {
		margin-top: 40px;
	}

	// Theme Logo
	.shapla-welcome-logo {
		background: url(../../images/logo-white.svg) center 25px no-repeat #0073aa;
	}

	.shapla-plugin-box {
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(#000, .2);

		&__image {
			padding: 1rem;

			a {
				display: block;
				height: 150px;
				margin: 2rem auto;
				position: relative;
				width: 150px;
			}

			img {
				display: block;
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}

		&__info {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;

			a {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 47%;
			}
		}

		&__version {
			width: 47%;
			text-align: right;
		}

		&__separator {
			width: 6%;
			text-align: center;
		}

		&__action_bar {
			display: flex;
			border-top: 1px solid rgba(#000, .2);
			justify-content: space-between;
			align-items: center;
		}

		&__plugin_name {
			overflow: hidden;
			padding: 1rem;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__action_button {
			padding: 1rem;
		}
	}

	@media only screen and (max-width: 500px) {
		.nav-tab {
			margin: 10px 0 0 0;
			border-bottom: 1px solid #ccc;
			width: 100%;
			display: inline-block;
			box-sizing: border-box;
		}
	}
}

table.table-shapla-system-status {
	margin-top: 15px;

	tbody {
		tr {
			td {
				&:nth-of-type(1) {
					width: calc(40% - 20px);
				}

				&:nth-of-type(2) {
					width: 20px;
				}

				&:nth-of-type(3) {
					width: 60%;
				}
			}
		}
	}
}

table.table-shapla-changelog {
	margin-top: 15px;

	ul {
		margin: 0;
		padding: 0;
		list-style: disc inside;
	}
}
