.shapla-product-search {
    order: 4;
    padding: 1rem 0;
    width: 100%;
    float: none;
    position: relative;
    z-index: 1;
    margin-left: auto;

    &-form {
        margin: 0;
        padding: 0;
        position: relative;
    }

    input[type="text"] {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    button[type="submit"] {
        width: 50px;
        text-align: center;
        border-radius: 0 3px 3px 0;
    }

    .nav-left {
        position: relative;
        float: left;
        width: auto;
    }
    .nav-fill {
        position: relative;
        overflow: hidden;
        width: auto;
    }
    .nav-right {
        position: relative;
        float: right;
    }

    .shapla-cat-list {
        padding: 0.6em;
        position: absolute;
        top: 1px;
        left: 1px;
        border: none;
        opacity: 0;
        cursor: pointer;
    }
    .nav-search-facade {
        border: 1px solid #dbdbdb;
        border-radius: 3px 0 0 3px;
        padding: 0.5em;
        text-transform: capitalize;
        color: #363636;
    }

    @media screen and (min-width: $nav-toggle-width) {
        order: 1;
        padding: 1rem 0 1rem 1rem;
        width: 50%;
        float: left;
    }
}

