$size__spacing-unit: 1rem;

/* !Block styles */

.entry-content > * {
	margin: 2rem 1rem;
	max-width: calc(100vw - (2 * 1rem));

	@include media(tablet) {
		margin: 2rem calc((100vw - #{$container-tablet}) / 2);
		max-width: $container-tablet;
	}

	@include media(desktop) {
		margin: 2rem calc((100vw - #{$container-desktop}) / 2);
		max-width: $container-desktop;
	}

	@include media(wide) {
		margin: 2rem calc((100vw - #{$container-widescreen}) / 2);
		max-width: $container-widescreen;
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&.alignwide {
		max-width: $container-widescreen;
	}

	&.alignfull {
		margin: 2rem 0;
		max-width: 100%;
	}

	&.alignleft {
		float: left;
		margin-top: 0;
		max-width: calc(5 * (100vw / 12));

		@include media(tablet) {
			margin-right: calc(2 * #{$size__spacing-unit});
			max-width: calc(4 * (100vw / 12));
		}

		@include media(desktop) {
			max-width: calc(3 * (100vw / 12));
		}
	}

	&.alignright {
		float: right;
		margin-top: 0;
		margin-left: $size__spacing-unit;
		margin-right: $size__spacing-unit;
		max-width: calc(5 * (100vw / 12));

		@include media(tablet) {
			margin-left: calc(2 * #{$size__spacing-unit});
			margin-right: calc(2 * (100vw / 12));
			max-width: calc(4 * (100vw / 12));
		}
	}

	&.aligncenter {

		margin-left: auto;
		margin-right: auto;

		@include media(desktop) {
			margin-left: calc(2 * (100vw / 12));
			margin-right: calc(2 * (100vw / 12));
			max-width: calc(10 * (100vw / 12));
			position: relative;
			left: 25%;
			transform: translate(-50%);
		}
	}
}

@import "block-audio";
@import "block-video";
@import "block-preformatted";
@import "block-verse";
//! Button
//@import "block-button";
//! Paragraphs
//@import "block-paragraphs";
//! Pullquote
//@import "block-pullquote";
//! Blockquote
//@import "block-quote";
//! Image
//@import "block-image";
//! Cover Image
//@import "block-cover";
//! Galleries
//@import "block-gallery";
//! Separator
//@import "block-separator";
//! Table
//@import "block-table";
//! File
//@import "block-file";
//! Code
//@import "block-code";
//! Columns
//@import "block-columns";
//! Latest Comments
//@import "block-latest-comments";
//! Others
//@import "others";
