.wp-block-separator,
hr {
	margin-bottom: (2 * $size__spacing-unit);
	margin-top: (2 * $size__spacing-unit);
	text-align: left;

	&:not(.is-style-dots) {
		background-color: $color__text-light;
		border: 0;
		height: 2px;
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 2.25em;
	}

	/* Remove duplicate rule-line when a separator
	 * is followed by an H1, or H2 */
	& + h1,
	& + h2 {

		&:before {
			display: none;
		}
	}

	&.is-style-dots {
		@include postContentMaxWidth();
		text-align: center;

		&:before {
			color: $color__text-light;
			font-size: $font__size-lg;
			letter-spacing: $font__size-sm;
			padding-left: $font__size-sm;
		}
	}
}
