.shapla-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: var(--container-padding-x, 1rem);
	padding-right: var(--container-padding-x, 1rem);
	width: 100%;

	@include media(tablet-small) {
		max-width: $container-sm;
	}

	@include media(tablet) {
		max-width: $container-md;
	}

	@include media(desktop) {
		max-width: $container-lg;
	}

	@include media(wide) {
		max-width: $container-xl;
	}

	.full-screen .site-content > & {
		margin: 0;
		max-width: 100%;
		padding: 0;
		width: 100%;
	}
}
