.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0 0 $column-gap;
	padding: 0;

	.blocks-gallery-image,
	.blocks-gallery-item {
		&:last-child {
			margin-bottom: 16px;
		}
	}
}
