.wp-block-latest-comments {

	.wp-block-latest-comments__comment-meta {
		font-weight: $weight-medium;

		.wp-block-latest-comments__comment-date {
			font-weight: $weight-normal;
		}
	}

	.wp-block-latest-comments__comment,
	.wp-block-latest-comments__comment-date,
	.wp-block-latest-comments__comment-excerpt p {
		font-size: inherit;
	}

	&.has-avatars {

	}

	&.has-dates {
		.wp-block-latest-comments__comment-date {
			font-size: $size-small;
		}
	}

	&.has-excerpts {

	}
}
