.wp-block-button {
	margin-bottom: $column-gap;

	.wp-block-button__link {
		border: none;
		box-sizing: border-box;
		font-weight: bold;
		line-height: 1;
		outline: none;
		padding: 0.75em 1.5em;
		text-decoration: none;

		&:not(.has-background) {
			background: $btn-background;
		}

		&:not(.has-text-color) {
			color: $btn-color;
		}
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: 3px;
	}

	&.is-style-outline {
		.wp-block-button__link,
		.wp-block-button__link:focus,
		.wp-block-button__link:active {
			border: 2px solid currentColor;
		}

		.wp-block-button__link {
			&:not(.has-background) {
				background: transparent;
			}

			&:not(.has-text-color) {
				color: $btn-background;
			}

			&:hover {
			}
		}
	}
}
