.wp-block-image {
	margin: 0 0 2rem;

	img {
		display: block;
	}

	&.alignleft,
	&.alignright {
		max-width: 100%;
	}

	&.alignfull img {
		width: 100vw;
		margin-left: auto;
		margin-right: auto;
	}

	.alignleft {
		margin-right: 2rem;
	}

	.alignright {
		margin-left: 2rem;
	}
}
