.wp-block-quote {
	margin: 0 0 2rem;

	&:not(.is-large),
	&:not(.is-style-large) {
		border-left: 5px solid $text-secondary;
		padding-top: 0;
		padding-bottom: 0;
	}

	p {
		font-size: 1em;
		font-style: normal;
		line-height: 1.8;
	}

	cite {
		font-size: $size-small;
	}

	&.is-large,
	&.is-style-large {
		padding: $size__spacing-unit 0 ($size__spacing-unit) ($size__spacing-unit * 2);
		margin: (2 * $size__spacing-unit) 0;

		p {
			font-size: $size-medium;
			line-height: 1.4;
			font-style: italic;
		}

		cite,
		footer {
			font-size: $size-small;
		}

		@include media(tablet) {
			p {
				font-size: $size-large;
			}
		}
	}
}
