.wp-block-columns {
	display: flex;
	flex-wrap: wrap;

	@include media(tablet) {
		flex-wrap: nowrap;
	}

	.wp-block-column > * {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include media(tablet) {
		&[class*='has-'] > * {
			margin-right: $size__spacing-unit;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
