.wp-block-separator,
hr {
	margin-bottom: $column-gap;
	margin-top: $column-gap;
	text-align: left;

	&:not(.is-style-dots) {
		background-color: $text-secondary;
		border: 0;
		height: 2px;
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 100px;
		margin-left: auto;
		margin-right: auto;
	}

	&.is-style-dots {
		text-align: center;

		&:before {
			content: "\00b7 \00b7 \00b7";
			color: $text-secondary;
			font-size: 1.5rem;
			letter-spacing: 2em;
			padding-left: 2em;
		}
	}
}
