.wp-block-cover {
	&:not(.alignleft):not(.aligncenter):not(.alignright) {
		width: 100% !important;
		max-width: 100% !important;

		.wp-block-cover__image-background.has-parallax {
			background-size: cover;
		}

		.wp-block-cover__inner-container {
			@include container();
		}
	}
}
