@import "../utilities/variables";

.editor-post-title__input {
	font-family: $headings-font-family !important;
}

.editor-styles-wrapper {
	> * {
		font-family: $body-font-family !important;
	}

	.wp-block {
		h1, h2, h3, h4, h5, h6 {
			font-family: $headings-font-family !important;
		}
	}
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * {
	margin-left: auto;
	margin-right: auto;
}

// Main column width
.wp-block {
	max-width: 1140px;
}

// Width of "wide" blocks
.wp-block[data-align="wide"] {
	max-width: 1140px;
}

// Width of "full-wide" blocks
.wp-block[data-align="full"] {
	max-width: none;
}
