.shapla-section {
	position: relative;

	&-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-repeat: no-repeat;
		max-width: none;
		z-index: 0;

		&.is-repeated {
			background-repeat: repeat;
		}

		&.is-stretched {
			background-size: cover;
		}

		&.is-fixed {
			background-attachment: fixed;
			background-position: 50% 50%;
		}

		& ~ * {
			z-index: 1;
			position: relative;
		}
	}
}
