// == Base Colors
$color--strikemaster: #96588a !default;
$color--dark_grey: #3a3a3a !default;
$color--dove_grey: #666666 !default;
$color--grey: #cccccc !default;
$color--light_grey: #f1f1f1 !default;

// == Colors
// Start with assigning color names to specific hex values.
$color--red: #f44336 !default;
$color--green: #4caf50 !default;
$color--blue: #2196f3 !default;
$color--orange: #ff9800 !default;
$color--yellow: #ffeb3b !default;
$color--white: #ffffff !default;
$color--black: #000000 !default;
$color--teal: #009688 !default;
$color--pink: #e91e63 !default;
$color--purple: #9c27b0 !default;

// Create grayscale
$color--gray-dark: #212121 !default;
$color--gray: #424242 !default;
$color--gray-light: #616161 !default;
$color--gray-lighter: #e0e0e0 !default;
$color--gray-lightest: #f5f5f5 !default;

// Reassign color vars to semantic color scheme
$color--success: $color--green !default;
$color--info: $color--teal !default;
$color--warning: $color--orange !default;
$color--danger: $color--red !default;
$color--default: $color--light_grey !default;

$color__background-body: $color--white !default;
$color__background-screen: $color--light_grey !default;
$color__background-hr: $color--grey !default;

$color__text-screen: #21759b;
$color__link: $color--strikemaster;
$color__link-visited: $color--strikemaster;
$color__link-hover: $color--strikemaster;
$color__text-main: #404040;

// == Site Navigation
$nav-color-bg: $color--white;
$nav-color-text: $color--dark_grey;
$nav-color-hover-text: $color--white;
$nav-color-hover-bg: $color--strikemaster;

$nav-color-dropdown-bg: $color--white;
$nav-color-dropdown-text: $color--dark_grey;
$nav-color-dropdown-hover-bg: $color--strikemaster;
$nav-color-dropdown-hover-text: $color--white;

$nav-toggle-width: 1025px; // iPad Pro width

// == Buttons
$btn-color: #ffffff;
$btn-background: #2c2d33;
$btn-hover-background: #13141a;

$btn-alt-color: #ffffff;
$btn-alt-background: #96588a;
$btn-alt-hover-background: #7d3f71;

// == Form
$color__border-input: $color--grey;
$color__text-input: $color--dove_grey;
$color__text-input-focus: $color--dark_grey;

$color__border-abbr: #666;

//== Typography
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: 'Inconsolata', monospace !default;

$font-size-base: 1rem !default;
$font-size-large: 1.25rem !default;
$font-size-small: 0.75rem !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$line-height-base: 1.5 !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

//== Table
$table-background-color: transparent;
$table-border-color: rgba(#000, .1);
$table-background-color-even: rgba(#000, .016);
$table-background-color-odd: rgba(#fff, .016);
$table-background-color-thead: rgba(#eee, .65);
$table-background-color-tfoot: rgba(#eee, .65);
$table-cell-padding: 8px;

//== Widgets
$widget-footer-background-color: #212a34;

//== Grid breakpoints
$screen-sm: 576px !default;
$screen-md: 769px !default;
$screen-lg: 1000px !default;
$screen-xl: 1200px !default;

//== Grid containers
$container-sm: 540px !default;
$container-md: 720px !default;
$container-lg: 960px !default;
$container-xl: 1140px !default;