// Menu Toggle Button
.menu-toggle {
	color: var(--header-text-color, #{$text-primary});
	cursor: pointer;
	display: block;
	height: 3rem;
	position: relative;
	width: 3rem;
	font-size: 1.25rem;

	span {
		background-color: currentColor;
		display: block;
		height: 2px;
		left: calc(50% - .5em);
		position: absolute;
		transform-origin: center;
		transition-duration: 86ms;
		transition-property: background-color, opacity, transform;
		transition-timing-function: ease-out;
		width: 1em;

		&:nth-child(1) {
			top: calc(50% - .375em);
		}

		&:nth-child(2) {
			top: calc(50% - .0625em);
		}

		&:nth-child(3) {
			top: calc(50% + .25em);
		}

	}

	&.toggled-on {
		span {
			&:nth-child(1) {
				transform: translateY(.3125em) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: translateY(-.3125em) rotate(-45deg);
			}
		}
	}
}
